textarea, input{
    background-color: var(--dark);
    color: var(--text);
    font-family: var(--font-body);
    font-size: 1rem;
    line-height: 1.5;
    box-sizing: border-box;
    field-sizing: content;
}

textarea{
    padding: 3em;
    width: 100%;
    min-height:40em;
}

input{
    padding: 0.5em;
    margin-left: 3em;
    width: 50%;
}

.EditorImage, .EditorImageLow{
    margin:auto;
    width: 80%;
    display: flex;
    padding: 1em;
}

.ParamLabel{
    color: var(--primary);
}

body{
    background-color: var(--edit-background);
}

.EditorImageLow{
    image-rendering: crisp-edges;
}

.RawDisplay{
    margin: 1em;
}

#ToastUI{
    margin-top: 1em;
    margin-bottom: 1em;
    filter: invert(0.9) hue-rotate(180deg);
}


button {
  font-size: .9rem;
  padding: .2rem .4rem;
  border-radius: .5rem;
  border: 0.25rem solid var(--dark);
  cursor: pointer;
  transition: background .15s;
  background-color: var(--secondary);
  flex-shrink: 0;
  font-family: var(--font-body);
}

button:hover {
  background: var(--primary);
}

.Header{
    display:flex;
}

.EditTabs{
    align-self: center;
    margin-left: auto;
}