:root {
  --background: #233355;
  --good-link: #39A481;
  --text: #dbd1b1;
  --primary: #e0961f;
  --secondary: #D44A02;
  --bad-link: #D44A02;
  --border: #993b08;
  --dark: #2c2422;
  --font-body: "Aleo";
  --font-display: "RockoFLF";
}

[data-theme="dark"] {
  --background: #000c26;
  --good-link: #24795D;
  --text: #ccc5ab;
  --primary: #ac7318;
  --secondary: #8C3000;
  --bad-link: #8C3000;
  --border: #000000;
  --dark: #000000;
}

[data-theme="light"] {
  --background: #fff;
  --good-link: #3b6bbf;
  --text: #2f2e2a;
  --primary: #959595;
  --secondary: #646464;
  --bad-link: #646464;
  --border: #fff;
  --dark: #c4c4c4;
}

[data-theme="classic"] {
  --background: #1e2c4c;
  --good-link: #96e1ff;
  --text: #FFF;
  --primary: #4070D0;
  --secondary: #121d34;
  --bad-link: #d73333;
  --border: #1e2c4c;
  --dark: #121d34;
  --font-display: "sans-serif";
  --font-body: "sans-serif";
}

[data-theme="funnet"] {
  --background: #006bad;
  --good-link: #3333ff;
  --text: #000000ff;
  --primary: #cccc66;
  --secondary: #ffef08;
  --bad-link: #ff0033;
  --border: #b594bd;
  --dark: #d94d04;
  --font-display: "Sylvar";
  --font-body: "helvetica";
}

[data-theme="showbiz"] {
  --background: #201f1f;
  --good-link: #A66332;
  --text: #dbd1b1;
  --primary: #d2c72a;
  --secondary: #d29400;
  --bad-link: #df221c;
  --border: #df221c;
  --dark: #171515;
}

[data-theme="fnaf"] {
  --background: #101010ff;
  --good-link: #acce18ff;
  --text: #c6c6c6;
  --primary: #4a4a4aff;
  --secondary: #2a2a2aff;
  --bad-link: #cd0000ff;
  --border: #000;
  --dark: #000;
  --font-display: "Stalker";
}

[data-theme="pasqually"] {
  --background: #6D1A1F;
  --good-link: #009047;
  --text: #d9d7d1;
  --primary: #d9d7d1;
  --secondary: #CD2F3A;
  --bad-link: #CD2F3A;
  --border: #009047;
  --dark: #2f1515;
}

[data-theme="winter"] {
  --background: #1c3d4d;
  --good-link: #47AEB3;
  --text: #ccc;
  --primary: #3c8636;
  --secondary: #376A3C;
  --bad-link: #ce293aff;
  --border: #4a7e86;
  --dark: #1a1e37;
}

[data-theme="halloween"] {
  --background: #0e0611;
  --good-link: #CE2929;
  --text: #f2de73;
  --primary: #9f5620;
  --secondary: #DF7426;
  --bad-link: #a20606ff;
  --border: #24172f;
  --dark: #220902;
  --font-display: "Unutterable";
}

[data-theme="pride"] {
  --background: #7d0c4c;
  --good-link: #ff7fc4;
  --text: #dbd1b1;
  --primary: #e38d59;
  --secondary: #de2d1e;
  --bad-link: #de2d1e;
  --border: #b33227;
  --dark: #2c2422;
}

[data-theme="anniversary"] {
  --background: #404040;
  --good-link: #888;
  --text: #d9d9d9;
  --primary: #a2a2a2;
  --secondary: #686868;
  --bad-link: #464646ff;
  --border: #2f2f2f;
  --dark: #222;
}

@font-face {
  font-family: "Aleo";
  src: url('/viewers/cep-js/assets/Fonts/Aleo-Regular.otf') format('opentype');
}

@font-face {
  font-family: "RockoFLF";
  src: url('/viewers/cep-js/assets/Fonts/RockoFLF-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Stalker";
  src: url('/viewers/cep-js/assets/Fonts/stalker1.ttf') format('truetype');
}

@font-face {
  font-family: "Sylvar";
  src: url('/viewers/cep-js/assets/Fonts/Sylvar.ttf') format('truetype');
}

@font-face {
  font-family: "Octobre";
  src: url('/viewers/cep-js/assets/Fonts/Octobre-Regular.otf') format('opentype');
}

@font-face {
  font-family: "Unutterable";
  src: url('/viewers/cep-js/assets/Fonts/Unutterable.ttf') format('truetype');
}

@font-face {
    font-family: "Aleo";
    src: url('/viewers/cep-js/assets/Fonts/Aleo-Regular.otf') format('opentype');
}

@font-face {
    font-family: "Stalker";
    src: url('/viewers/cep-js/assets/Fonts/stalker1.ttf') format('truetype');
}

html{
    background-color: var(--border);
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 65rem;
  min-width: 30rem;
  border-color: var(--primary);
  border-style: solid;
  border-width: 3rem;
  border-radius: 8rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  outline-color: var(--text);
  outline-width: 1.5rem;
  outline-style: solid;
  box-shadow: 0 0 0 2rem var(--dark), inset 0 0 0 0.5rem var(--dark);
  text-wrap: pretty;
  word-wrap: anywhere;
}

a {
  color: var(--good-link);
  text-decoration: none;
}

.Logo img{
  max-width:100%;
  margin-left: auto;
  margin-right:auto;
  display:block;
  margin-top: -2rem;
  margin-bottom: -2rem;
}

.FlavorText{
  font-family: var(--font-display);
  color:var(--text);
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: .1rem;
}

.FlavorText strong {
    animation: letterSpacing 3s ease-in-out infinite;
    color: var(--primary);
}

@keyframes letterSpacing {
    0%   { letter-spacing: 0; }
    50%  { letter-spacing: 0.2rem; }
    100% { letter-spacing: 0; }
}

.FlavorText sup{
  color:var(--light-gray);
}

.SplashText {
  position: relative;
  color: var(--dark);
  opacity: 50%;
  text-align: center;
  transform: translate(0%, -4.25rem);
  font-family: var(--font-display);
  letter-spacing: .1rem;
  margin: -1rem;
}

.HorizontalButtonHolder{
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  margin-top:1rem;
}

.Button {
  background-color: var(--deep-gray);
  color:var(--green);
  font-family: var(--font-display);
  font-size: 2rem;
  border-width: 0.25rem;
  border-style: solid;
  border-color: var(--gray);
  letter-spacing: .1rem;
  transition: transform 0.15s ease;
}

.Button:hover{
  background-color: var(--gray);
  border-color: var(--green);
  color:var(--text);
  transform: translateY(-0.25rem);
}

.Card{
  border-radius: 1rem;
  min-width: 12.5rem;
  max-width: 12.5rem;
  transition: transform 0.15s ease;
  border-color: var(--dark);
  border-style: solid;
  border-width: .25rem;
  box-shadow: 0 0 0 0.25rem var(--secondary);
  overflow: hidden;
}

.Card:hover{
  box-shadow: 0 0 0 0.25rem var(--good-link);
  transform: translateY(-0.25rem);
}

.Card img{
  transition: transform 0.15s ease;
}


.Card:hover img {
  transform: scale(1.1);
}

.CardLink{
  mask-image: linear-gradient(to right,black 0%,black 90%,transparent 100%);
}

.CardText {
  color: color-mix(in srgb, var(--text) 50%, transparent);
  font-size: 0.8rem;
}

.CardText strong {
    color: var(--primary);
}

.CardLink span{
  display: inline-block;
  padding-right: 2rem;
  transform: translateX(0);
  transition: none;
}

.Card:hover span{
  transition: transform 2s linear;
  transform: translateX(-75%);
}

.CardTextArea{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  line-height: 1.75rem;
}

.CardImage {
  height:8rem;
  overflow: hidden;
}
.CardImage img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.Carousel{
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.Footer{
  text-align: center;
  color: color-mix(in srgb, var(--text) 50%, transparent);
}

.Footer a{
  color: var(--good-link);
}