:root {
  --blue: #233355;
  --aqua: #39A481;
  --white: #dbd1b1;
  --deep-white: #62777a;
  --yellow: #e0961f;
  --orange: #D44A02;
  --red: #D44A02;
  --deep-orange: #993b08;
  --brown: #2c2422;
  --font-body: "Aleo";
  --font-display: "RockoFLF";
}

[data-theme="dark"] {
  --blue: #000c26;
  --aqua: #24795D;
  --white: #ccc5ab;
  --deep-white: #43666c;
  --yellow: #ac7318;
  --orange: #8C3000;
  --red: #8C3000;
  --deep-orange: #000000;
  --brown: #000000;
}

[data-theme="light"] {
  --blue: #fff;
  --aqua: #3b6bbf;
  --white: #2f2e2a;
  --deep-white: #b9b9b9;
  --yellow: #959595;
  --orange: #646464;
  --red: #646464;
  --deep-orange: #fff;
  --brown: #c4c4c4;
}

[data-theme="classic"] {
  --blue: #1e2c4c;
  --aqua: #d73333;
  --white: #FFF;
  --deep-white: #96e1ff;
  --yellow: #4070D0;
  --orange: #121d34;
  --red: #d73333;
  --deep-orange: #1e2c4c;
  --brown: #121d34;
  --font-display: "sans-serif";
  --font-body: "sans-serif";
}

[data-theme="funnet"] {
  --blue: #006bad;
  --aqua: #3333ff;
  --white: #000000ff;
  --deep-white: #993399;
  --yellow: #cccc66;
  --orange: #ffef08;
  --red: #ff0033;
  --deep-orange: #b594bd;
  --brown: #d94d04;
  --font-display: "Sylvar";
  --font-body: "helvetica";
}

[data-theme="showbiz"] {
  --blue: #201f1f;
  --aqua: #A66332;
  --white: #dbd1b1;
  --deep-white: #716666;
  --yellow: #d2c72a;
  --orange: #d29400;
  --red: #df221c;
  --deep-orange: #df221c;
  --brown: #171515;
}

[data-theme="fnaf"] {
  --blue: #101010ff;
  --aqua: #acce18ff;
  --white: #c6c6c6;
  --deep-white: #5b5b5bff;
  --yellow: #4a4a4aff;
  --orange: #2a2a2aff;
  --red: #cd0000ff;
  --deep-orange: #000;
  --brown: #000;
  --font-display: "Stalker";
}

[data-theme="pasqually"] {
  --blue: #6D1A1F;
  --aqua: #009047;
  --white: #d9d7d1;
  --deep-white: #9b6767;
  --yellow: #d9d7d1;
  --orange: #CD2F3A;
  --red: #CD2F3A;
  --deep-orange: #009047;
  --brown: #2f1515;
}

[data-theme="winter"] {
  --blue: #1c3d4d;
  --aqua: #47AEB3;
  --white: #ccc;
  --deep-white: #47757b;
  --yellow: #3c8636;
  --orange: #376A3C;
  --red: #ce293aff;
  --deep-orange: #4a7e86;
  --brown: #1a1e37;
}

[data-theme="halloween"] {
  --blue: #0e0611;
  --aqua: #CE2929;
  --white: #f2de73;
  --deep-white: #795677;
  --yellow: #9f5620;
  --orange: #DF7426;
  --red: #a20606ff;
  --deep-orange: #24172f;
  --brown: #220902;
  --font-display: "Unutterable";
}

[data-theme="pride"] {
  --blue: #7d0c4c;
  --aqua: #ff7fc4;
  --white: #dbd1b1;
  --deep-white: #da62a3;
  --yellow: #e38d59;
  --orange: #de2d1e;
  --red: #de2d1e;
  --deep-orange: #b33227;
  --brown: #2c2422;
}

[data-theme="anniversary"] {
  --blue: #404040;
  --aqua: #888;
  --white: #d9d9d9;
  --deep-white: #737373;
  --yellow: #a2a2a2;
  --orange: #686868;
  --red: #464646ff;
  --deep-orange: #2f2f2f;
  --brown: #222;
}

@font-face {
  font-family: "Aleo";
  src: url('/viewers/cep-js/assets/Fonts/Aleo-Regular.otf') format('opentype');
}

@font-face {
  font-family: "RockoFLF";
  src: url('/viewers/cep-js/assets/Fonts/RockoFLF-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "Stalker";
  src: url('/viewers/cep-js/assets/Fonts/stalker1.ttf') format('truetype');
}

@font-face {
  font-family: "Sylvar";
  src: url('/viewers/cep-js/assets/Fonts/Sylvar.ttf') format('truetype');
}

@font-face {
  font-family: "Octobre";
  src: url('/viewers/cep-js/assets/Fonts/Octobre-Regular.otf') format('opentype');
}

@font-face {
  font-family: "Unutterable";
  src: url('/viewers/cep-js/assets/Fonts/Unutterable.ttf') format('truetype');
}

@font-face {
    font-family: "Aleo";
    src: url('/viewers/cep-js/assets/Fonts/Aleo-Regular.otf') format('opentype');
}

@font-face {
    font-family: "Stalker";
    src: url('/viewers/cep-js/assets/Fonts/stalker1.ttf') format('truetype');
}

html{
    background-color: var(--deep-orange);
}

body {
  color: var(--white);
  background-color: var(--blue);
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 65rem;
  min-width: 30rem;
  border-color: var(--yellow);
  border-style: solid;
  border-width: 3rem;
  border-radius: 8rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  outline-color: var(--white);
  outline-width: 1.5rem;
  outline-style: solid;
  box-shadow: 0 0 0 2rem var(--brown), inset 0 0 0 0.5rem var(--brown);
  text-wrap: pretty;
  word-wrap: anywhere;
}

a {
    color: var(--aqua);
    text-decoration: none;
}

.Logo img{
    max-width:100%;
    margin-left: auto;
    margin-right:auto;
    display:block;
    margin-top: -2rem;
    margin-bottom: -2rem;
}

.FlavorText{
    font-family: var(--font-display);
    color:var(--white);
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: .1rem;
}

.FlavorText sup{
    color:var(--light-gray);
}

.SplashText {
  position: relative;
  color: var(--white);
  text-align: center;
  transform: translate(0%, -4.25rem);
  font-family: var(--font-display);
  letter-spacing: .1rem;
  margin: -1rem;
}

.HorizontalButtonHolder{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    margin-top:1rem;
}

.Button {
    background-color: var(--deep-gray);
    color:var(--green);
    font-family: var(--font-display);
    font-size: 2rem;
    border-width: 0.25rem;
    border-style: solid;
    border-color: var(--gray);
    letter-spacing: .1rem;
    transition: transform 0.15s ease;
}

.Button:hover{
    background-color: var(--gray);
    border-color: var(--green);
    color:var(--white);
    transform: translateY(-0.25rem);
}