{{- $gallery := partial "display-gallery.html" . -}}
{{- $videos := partial "display-video-gallery.html" . -}}
{{- $article := false -}}
{{- if or (ne $gallery "") (ne $videos "") -}}
  {{- $article = true -}}
{{- end -}}

{{- partial "display-breadcrumbs.html" . -}}
<h1>{{- .Title | safeHTML -}}</h1>
<div class="article-topBar">
  {{- if $article -}}
    <button class="article-button" data-target="section-article">Article</button>
  {{- end -}}
  {{- if ne $gallery "" -}}
    <button class="article-button" data-target="section-gallery">Gallery</button>
  {{- end -}}
  {{- if ne $videos "" -}}
    <button class="article-button" data-target="section-videos">Videos</button>
  {{- end -}}
  {{- partial "editButton.html" . -}}
</div>

<div id="section-article" class="article-section">
  {{- if .Params.pageThumbnailFile -}}
    <div class="article-store-thumbnail">
      {{- partial "filename-to-photo-no-css.html" .Params.pageThumbnailFile -}}
    </div>
  {{- end -}}
  <div style="width:auto; margin-left:6em; margin-right:6em; margin-top:1em; margin-bottom:1em;">
    {{- .Content | safeHTML -}}
    {{- partial "display-citations.html" . -}}
  </div>
</div>
{{- if ne $gallery "" -}}
  <div id="section-gallery" class="article-section">
    {{- $gallery -}}
  </div>
{{- end -}}
<div id="section-videos" class="article-section">
  {{- if ne $videos "" -}}
    {{- $videos -}}
  {{- end -}}
</div>
<div id="section-reviews" class="article-section">

</div>
<hr>
{{- partial "display-contributors.html" . -}}
<h2>Random Articles</h2>
{{- partial "random-page.html" . -}}
{{- partial "random-page.html" . -}}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Hide all sections
    const sections = document.querySelectorAll('.article-section');
    sections.forEach(section => section.style.display = 'none');

    // Show the default section (Article)
    const defaultSection = document.getElementById('section-article');
    defaultSection.style.display = 'inline-block';

    // Add event listeners to buttons
    const buttons = document.querySelectorAll('.article-button');
    buttons.forEach(button => {
      button.addEventListener('click', function() {
        // Hide all sections
        sections.forEach(section => section.style.display = 'none');

        // Show the clicked section
        const targetSection = document.getElementById(this.dataset.target);
        if (targetSection) {
          targetSection.style.display = 'inline-block';
        }
      });
    });
  });
</script>