{{- partial "editButton-list.html" . -}}
{{- partial "display-breadcrumbs.html" . -}}
<h1>{{- "Photo" -}}</h1>
<div class="article-photo-thumbnail">
  {{- partial "filename-to-photo-no-css-file-link.html" .Title -}}
</div>

<h2>Tagged Articles</h2>
{{- $callerPages := .Params.pages -}}
{{- $pages := partialCached "grab-all-wiki-articles.html" . -}}
{{- range $pages -}}
  {{- $pageTitle := .Title}}
  {{- if in $callerPages $pageTitle -}}
    {{- partial "display-page-box.html" . -}}
  {{- end -}}
{{- end -}}
<hr>
{{- if .Params.startDate -}}
  <div class="contributors">
    <strong> Photo taken on: </strong>{{- partial "date-to-readable-date.html" .Params.startDate -}}
  </div>
  <hr>
{{- end -}}