<h1>{{- .Title -}}</h1>
{{- .Content | safeHTML -}}
<select id="categorySelect" onchange="showCategoryTags()">
    <option value="" disabled>Select a ategory</option>
    {{- $categories := .Site.Taxonomies.categories -}}
    <option value="all" selected >All Pages</option>
    {{- range $categoryName, $pages := $categories -}}
      <option value="{{- $categoryName -}}" >{{- $categoryName | humanize | title | replaceRE "Cheeses" "Cheese's" -}}</option>
    {{- end -}}
</select>


<div class="category-tags" id="category-all" style="display: block;">
    {{- range sort .Pages "Params.Article.startDate" -}}
        {{- partial "display-page-box.html" . -}}
    {{- end -}}
</div>

<div id="tagsContainer">
    {{- $listPages := . -}}
    {{- range $categoryName, $pages := $categories -}}
        <div class="category-tags" id="category-{{- $categoryName | urlize -}}" style="display: none;">
            {{- $hasPages := false -}} <!-- Flag to check if there are pages -->
            {{- range $listPages.Pages -}}
                {{- if in .Params.categories ($categoryName | humanize | title | replaceRE "Cheeses" "Cheese's") -}}
                    {{- partial "display-page-box.html" . -}}
                    {{- $hasPages = true -}}
                {{- end -}}
            {{- end -}}
            {{- if not $hasPages -}} <!-- Display message if no pages found -->
                <div class="fun-text">
                    <strong>No pages in this category.</strong>
                </div>
            {{- end -}}
        </div>
    {{- end -}}
</div>



  <script>
    window.onload = function() {
        // Retrieve the saved category from localStorage
        var selectedCategory = localStorage.getItem('selectedCategory');
        var select = document.getElementById("categorySelect");
    
        if (selectedCategory) {
          select.value = selectedCategory;
          showCategoryTags();
        }
    }
  
    function showCategoryTags() {
      var select = document.getElementById("categorySelect");
      var selectedCategory = select.value;
  
      localStorage.setItem('selectedCategory', selectedCategory);
      
      // Hide all category tag lists
      var categories = document.getElementsByClassName("category-tags");
      for (var i = 0; i < categories.length; i++) {
        categories[i].style.display = "none";
      }
  
      // Show the selected category's tags
      var selectedDiv = document.getElementById("category-" + selectedCategory);
      if (selectedDiv) {
        selectedDiv.style.display = "block";
      }
    }
  </script>