<h1>{{ .Title }}</h1>
{{ .Content | safeHTML }}
{{ range .Pages }}
<div class="list-page-block">
<h2><a href="{{ .RelPermalink }}">
    {{ with .LinkTitle }}
        {{ .  | safeHTML }}
    {{ else }}
        {{ .Title | safeHTML }} <!-- Fallback to Title if no LinkTitle -->
    {{ end }}      
</a></h2> 
    <div class="list-page-summary">
    {{ with .Summary }}
        {{ . | safeHTML | truncate 150 "..." }}
    {{ else }}
        (Click to read more...)
    {{ end }}
    </div>
</div>
{{ end }}