
{{- partial "editButton.html" . -}}
{{- partial "display-breadcrumbs.html" . -}}
<h1>{{- .Title | safeHTML -}}</h1>
<div class="article-store-thumbnail">
  {{- if .Params.pageThumbnailFile -}}
  {{- partial "filename-to-photo-no-css.html" .Params.pageThumbnailFile -}}
{{- end -}}
</div>
{{- .Content | safeHTML}}
<hr>
{{- partial "display-gallery.html" . -}}
{{- partial "display-citations.html" . -}}
{{- partial "display-contributors.html" . -}}
<h2>Random Articles</h2>
{{- partial "random-page.html" . -}}
{{- partial "random-page.html" . -}}