{{- $date := . -}}
{{- $dateParts := split $date "-" -}}
{{- $year := index $dateParts 0 -}}
{{- $month := index $dateParts 1 -}}
{{- $day := index $dateParts 2 -}}
{{- $month := printf "%02d" (int $month) -}}
{{- $day := printf "%02d" (int $day) -}}

{{- $months := dict "00" "" "01" "Jan. " "02" "Feb. " "03" "Mar. " "04" "Apr. " "05" "May " "06" "Jun. " "07" "Jul. " "08" "Aug. " "09" "Sep. " "10" "Oct. " "11" "Nov. " "12" "Dec. " -}}

{{- $monthName := index $months $month -}}

{{- $monthName -}}
{{- if (ne $day "00")}}
  {{- printf $day -}},{{- " " -}}
{{- end -}}
{{- if (ne $year "0000")}}
  {{- printf $year -}}
{{- end -}}
