<div class="list-page-block-video">
    <div class="list-page-container">
        <div class="list-video">
            {{- partial "video-thumbnail.html" .Title -}}
        </div>
        <div class="list-page-video-content">
            <a href="{{- .RelPermalink -}}">
                {{- .Params.description | truncate 150 "..."  -}}
            </a>
            <div class="list-page-date">
                {{- partial "date-to-readable-date" .Params.startDate -}}
            </div>
        </div>
        <div class="edit-button-container">
            {{- partial "editButton-list.html" . -}}
        </div>
    </div>
</div>