<div class="list-review-block">
    <div class="list-review-container">
        <div class="list-review-content">
                {{- with .LinkTitle -}}
                    {{- . | safeHTML -}}
                {{- else -}}
                    {{- .Title | safeHTML -}} <!-- Fallback to Title if no LinkTitle -->
                {{- end -}}
            <div class="list-review-date">
                {{- partial "date-to-readable-date.html" .Params.startDate -}}
                {{- " - " -}}
                {{- if .Params.contributors -}}
                    {{- index .Params.contributors 0 | safeHTML -}}
                {{- else -}}
                    {{- "Anonymous" -}}
                {{- end -}}
            </div>
            <div class="list-review-body">
                {{- .Content -}}
            </div>
        </div>
    </div>
</div>