<div class="list-page-block">
    <div class="list-page-container">
        <div class="list-image">
            <a href="{{- .RelPermalink -}}">
                {{- partial "filename-to-photo-no-link.html" .Params.pageThumbnailFile -}}
            </a>
        </div>
        <div class="list-page-content">
            <a href="{{- .RelPermalink -}}">
                {{- with .LinkTitle -}}
                    {{- . | safeHTML -}}
                {{- else -}}
                    {{- .Title | safeHTML -}} <!-- Fallback to Title if no LinkTitle -->
                {{- end -}}
            </a>
            <div class="list-page-date">
                {{ $diff := now.Sub .GitInfo.AuthorDate }}
                Updated {{ math.Round $diff.Hours }} hours ago
            </div>
        </div>
        <div class="edit-button-container">
            {{- partial "editButton-list.html" . -}}
        </div>
    </div>
</div>