
{{- if gt (len .Content) 0 -}}
    <div class="list-page-block">
{{- else -}}
    <div class="list-page-empty-block">
{{- end -}}
    <div class="list-page-container">
        <div class="list-image">
            <a href="{{- .RelPermalink -}}">
                {{- partial "filename-to-photo-no-link.html" .Params.pageThumbnailFile -}}
            </a>
        </div>
        <div class="list-page-content">
            <a href="{{- .RelPermalink -}}">
                {{- with .LinkTitle -}}
                    {{- . | safeHTML -}}
                {{- else -}}
                    {{- .Title | safeHTML -}} <!-- Fallback to Title if no LinkTitle -->
                {{- end -}}
            </a>
            <div class="list-page-date">
                {{- partial "display-date-ranges.html" . -}}
            </div>
        </div>
        <div class="edit-button-container">
            {{- if gt (len .Content) 0 -}}
                {{- partial "editButton-list.html" . -}}
            {{- else -}}
                {{- partial "editButton-list-empty.html" . -}}
            {{- end -}}
            
        </div>
    </div>
</div>