{{- if .Params.citations -}}
  <div class="citations">
    <h2>References</h2>
    <ol>
      {{- range $i, $v := .Params.citations -}}
        <li id="citation-{{- add $i 1 -}}">
          {{- if (or (strings.Contains $v "http://") (strings.Contains $v "https://")) -}}
            {{- if not (strings.Contains $v "<a href=") -}}
              <a href="{{ $v }}">{{ $v }}</a>
            {{- else -}}
              {{ $v | safeHTML }}
            {{- end -}}
          {{- else -}}
            {{ $v | safeHTML }}
          {{- end -}}
        </li>
      {{- end -}}
    </ol>
  </div>
{{- end -}}
