<aside data-pagefind-ignore>
  <div class="contributors">
    <strong>Article Contributed By: </strong>

    {{ if .Params.contributors }}
      {{ range $index, $contributor := .Params.contributors }}
        {{ $articles := where site.RegularPages "Title" $contributor }} <!-- Use site.RegularPages for better performance -->
        {{ if $articles }}
          <a href="{{ (index $articles 0).RelPermalink }}">{{ (index $articles 0).Title }}</a>
        {{ else }}
          {{ $contributor }}
        {{ end }}
        {{ if lt (add $index 1) (len .Params.contributors) }}, {{ end }}
      {{ end }}
    {{ else }}
      <strong>NOBODY!!!!!</strong>
    {{ end }}

    {{ with .GitInfo }}
      <strong> | Last updated on: </strong>{{ .AuthorDate.Format "Jan. 2, 2006" }}
    {{ end }}
  </div>
  <hr>
</aside>
