<select id="manufacturerSelect" onchange="showCategoryTags('MANU')">
    <option value="all" selected >All Manufacturers</option>
    <option value="advanced-animations">Advanced Animations</option>
    <option value="avg-technologies">AVG Technologies</option>
    <option value="creative-engineering">Creative Engineering</option>
    <option value="creative-presentations">Creative Presentations</option>
    <option value="disney-parks">Disney Parks</option>
    <option value="fantasy-forest">Fantasy Forest</option>
    <option value="golding-leisure">Golding Leisure</option>
    <option value="heimotion">Heimotion</option>
    <option value="hofmann-figuren">Hofmann Figuren</option>
    <option value="jim-hensons-creature-shop">Jim Henson's Creature Shop</option>
    <option value="sally-corporation">Sally Corporation</option>
    <option value="unknown-manufacturers">Unknown Manufacturers</option>
    <option value="animatedfx">AnimatedFX</option>
    <option value="villalobos-producciones">Villalobos Producciones</option>
    <option value="vp-animations">VP Animations</option>
</select>
  