<select id="movieSelect" onchange="showCategoryTags('MOVIE')">
    <option value="all" selected >All Movies & TV</option>
    <option value="chuck-e.-cheese-in-the-galaxy-5000">Chuck E. Cheese in the Galaxy 5000</option>
    <option value="five-nights-at-freddys-movie">Five Nights at Freddy's (Movie)</option>
    <option value="five-nights-at-freddys-2-movie">Five Nights at Freddy's 2 (Movie)</option>
    <option value="the-rock-afire-explosion-documentary">The Rock-afire Explosion Documentary</option>
  </select>