{{- /* layouts/partials/display-gallery-has-content.html */ -}}
{{ $photosByPage := partialCached "grab-photos-by-page.html" . "photos-by-page-v1" }}
{{- $title := .Title | default "" -}}

{{- $cands := slice $title (urlize $title) (lower $title) (urlize (lower $title)) -}}
{{- if .Slug -}} {{- $cands = $cands | append .Slug -}} {{- else if .File -}} {{- $cands = $cands | append (.File.BaseFileName | default "") -}} {{- end -}}

{{- range $c := $cands -}}
  {{- if ne $c "" -}}
    {{- $found := index $photosByPage $c -}}
    {{- if and $found (gt (len $found) 0) -}}
      true
      {{- return -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- "" -}}
