<select id="FECSelect" onchange="showCategoryTags('FEC')">
    <option value="all" selected >All Entertainment</option>
    <option value="celebration-station">Celebration Station</option>
    <option value="chuck-e.-cheeses">Chuck E. Cheese's</option>
    <option value="circus-pizza">Circus Pizza</option>
    <option value="disney-parks">Disney Parks</option>
    <option value="five-nights-at-freddys">Five Nights at Freddy's</option>
    <option value="jungle-jims">Jungle Jim's</option>
    <option value="pasquallys-pizza-wings">Pasquallys Pizza & Wings</option>
    <option value="pizza-time-theatre">Pizza Time Theatre</option>
    <option value="showbiz-pizza-place">ShowBiz Pizza Place</option>
  </select>