<script>
    window.onload = function() {
        // Retrieve the saved category from localStorage
        var FECLoadValue = localStorage.getItem('selectedFEC');
        var FEC = document.getElementById("FECSelect");
        var MANULoadValue = localStorage.getItem('selectedManufacturer');
        var MANU = document.getElementById("manufacturerSelect");
        var YEARLoadValue = localStorage.getItem('selectedYear');
        var YEAR = document.getElementById("yearSelect");
        var MOVIELoadValue = localStorage.getItem('selectedMovie');
        var MOVIE = document.getElementById("movieSelect");

        if (FECLoadValue) {
          FEC.value = FECLoadValue;
        }
        if (MANULoadValue) {
          MANU.value = MANULoadValue;
        }
        if (YEARLoadValue) {
          YEAR.value = YEARLoadValue;
        }
        if (MOVIELoadValue) {
          MOVIE.value = MOVIELoadValue;
        }
        showCategoryTags();
        
        document.getElementById("loadingText").style.visibility = "hidden";
        document.getElementById("tagsContainer").style.visibility = "visible";
    }
  
    function showCategoryTags(check) {
      var selectedCategory = "all";
      var FEC = document.getElementById("FECSelect");
      var MANU = document.getElementById("manufacturerSelect");
      var YEAR = document.getElementById("yearSelect");
      var MOVIE = document.getElementById("movieSelect");
      localStorage.setItem('selectedYear', YEAR.value);
  
      if(check == "FEC")
      {
        selectedCategory = FEC.value;
        document.getElementById("manufacturerSelect").value = "all";
        document.getElementById("movieSelect").value = "all";
        localStorage.setItem('selectedFEC', FEC.value);
        localStorage.removeItem('selectedManufacturer');
        localStorage.removeItem('selectedMovie');
      }
      else if(check == "MANU")
      {    
        selectedCategory = MANU.value;
        document.getElementById("FECSelect").value = "all";
        document.getElementById("movieSelect").value = "all";
        localStorage.setItem('selectedManufacturer', MANU.value);
        localStorage.removeItem('selectedFEC');
        localStorage.removeItem('selectedMovie');
      }
      else if(check == "MOVIE")
      {    
        selectedCategory = MOVIE.value;
        document.getElementById("FECSelect").value = "all";
        document.getElementById("manufacturerSelect").value = "all";
        localStorage.setItem('selectedMovie', MOVIE.value);
        localStorage.removeItem('selectedFEC');
        localStorage.removeItem('selectedManufacturer');
      }
      if(FEC.value != "all")
      {
        selectedCategory = FEC.value;
        document.getElementById("manufacturerSelect").value = "all";
        document.getElementById("movieSelect").value = "all";
        localStorage.setItem('selectedFEC', FEC.value);
        localStorage.removeItem('selectedManufacturer');
        localStorage.removeItem('selectedMovie');
      }
      if(MANU.value != "all")
      {
        selectedCategory = MANU.value;
        document.getElementById("FECSelect").value = "all";
        document.getElementById("movieSelect").value = "all";
        localStorage.setItem('selectedManufacturer', MANU.value);
        localStorage.removeItem('selectedFEC');
        localStorage.removeItem('selectedMovie');
      }
      if(MOVIE.value != "all")
      {
        selectedCategory = MOVIE.value;
        document.getElementById("FECSelect").value = "all";
        document.getElementById("manufacturerSelect").value = "all";
        localStorage.setItem('selectedMovie', MOVIE.value);
        localStorage.removeItem('selectedFEC');
        localStorage.removeItem('selectedManufacturer');
      }
  
      if (selectedCategory == "all")
      {
        var showThese = document.getElementById("tagsContainer").children;
        for (var i = 0; i < showThese.length; i++) {
          showThese[i].style.display = "block";
          if(YEAR.value != "all" && !showThese[i].classList.contains(YEAR.value))
          {
            showThese[i].style.display = "none";
          }
        }
      }
      else
      {
        var hideThese = document.getElementById("tagsContainer").children;
        for (var i = 0; i < hideThese.length; i++) {
            hideThese[i].style.display = "none";
        }
        
        // Show the selected category's tags
        var showThese = document.getElementsByClassName(selectedCategory);
        for (var i = 0; i < showThese.length; i++) {
          showThese[i].style.display = "block";
          if(YEAR.value != "all" && !showThese[i].classList.contains(YEAR.value))
          {
            showThese[i].style.display = "none";
          }
        }
      }
    }
  </script>
  