
{{- if .Params.pageThumbnailFile -}}
  <div class="article-infobox">
      <div class="article-thumbnail">
        {{- partial "filename-to-photo-no-css.html" .Params.pageThumbnailFile -}}
      </div>
    {{- if or (.Params.startDate) (.Params.endDate) -}}
    <b>{{- "Release: " -}}</b>{{- partial "display-date-ranges.html" . -}}
    {{- end -}}

    {{- $currentPageTitle := .Title -}} 
    {{- $reviews := partialCached "grab-all-reviews.html" "key"}}
    {{- $hasGallery := 0 -}}
    {{- $galleryOpen := false -}}
    {{- $totalReviews := 0 -}} <!-- To keep track of total reviews -->
    {{- $totalRecommends := 0 -}} <!-- To keep track of total recommends -->
    
    {{- range $reviews -}}
      {{- $matches := false -}} 
      
      {{- if eq .Params.page $currentPageTitle -}} 
        {{- $matches = true -}}
        {{- if eq $hasGallery 0 -}} 
          <div class="recommendation-summary">
          {{- $galleryOpen = true -}}
        {{- end -}}
        {{- $hasGallery = add $hasGallery 1 -}}
      {{- end -}}
    
      {{- if $matches -}} 
        <!-- Calculate total recommends and total reviews -->
        {{- $totalReviews = add $totalReviews 1 -}} 
        {{- if .Params.recommend -}} 
          {{- $totalRecommends = add $totalRecommends 1 -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}

    {{- $recommendScore := div (mul $totalRecommends 100) (cond (eq $totalReviews 0) 1 $totalReviews) -}} 
    {{- $sentiment := "Mixed" -}}
    {{- if ge $recommendScore 75 -}}
      {{- $sentiment = "Positive" -}}
    {{- else if le $recommendScore 25 -}}
      {{- $sentiment = "Negative" -}}
    {{- end -}}

    <!-- Closing the gallery div if it was opened -->
    {{- if $galleryOpen -}} 
      <b>Reviews: </b> {{- $sentiment -}}{{- " (👍 " -}}{{- $totalRecommends -}}{{- ") (👎 " -}}{{- sub $totalReviews $totalRecommends -}})
      </div>
    {{- end -}}

    {{- if .Params.unitsProduced -}}
    <br><b>{{- "Units Produced: " -}}</b>{{- .Params.unitsProduced -}}
    {{- end -}}
    {{- if .Params.mediaDuration -}}
    <br><b>{{- "Media Duration: " -}}</b>{{- .Params.mediaDuration -}}
    {{- end -}}
    {{- if .Params.manufacturer -}}
    <br><b>{{- "Manufacturer: " -}}</b>{{- .Params.manufacturer -}}
    {{- end -}}
    {{- range .Params.alsoKnownAs -}}
    <br><b>{{- "Label: " -}}</b>"{{- . -}}"
    {{- end -}}
    {{- if .Params.showtapeFormats -}}
      <div class="article-infobox-linkbox">
        <b>{{- "Released On: " -}}</b>
        <ul>
          {{- range .Params.showtapeFormats -}}
          <li><a href="{{- "/wiki/" | relLangURL -}}{{- . | urlize -}}">{{- . -}}</a></li>
          {{- end -}}
        </ul>
      </div>
    {{- end -}}
    {{- if .Params.credits -}}
      <div class="article-infobox-linkbox">
        <b>{{- "Credits: " -}}</b>
        <ul>
          {{- range .Params.credits -}}
          <li>{{- replace . "|" ": " -}}</li>
          {{- end -}}
        </ul>
      </div>
    {{- end -}}
    {{- if .Params.downloadLinks -}}
      <div class="article-infobox-linkbox">
        <b>{{- "Downloads: " -}}</b>
        <ul>
          {{- range .Params.downloadLinks -}}
            {{- $downloadParts := split . "|" -}}
            {{- if ge (len $downloadParts) 2 -}}
              <li><a href="{{- (index $downloadParts 0) -}}">{{- (index $downloadParts 1) -}}</a></li>
            {{- else -}}
              <li><a href="{{- . -}}">{{- . -}}</a></li>
            {{- end -}}
          {{- end -}}
        </ul>
      </div>
    {{- end -}}
  </div>
{{- end -}}