{{- /*
display-gallery-has-content.html
Return "true" (string) if there are photos for the current page Title in site.Data.photosbypage.
Used by Article.html to decide whether to show the Gallery button/section.
*/ -}}

{{- $data := index site.Data "photosbypage" -}}
{{- if and $data (ne (len $data) 0) -}}
  {{- $title := .Title | default "" -}}
  {{- $list := index $data $title -}}
  {{- if and $list (gt (len $list) 0) -}}
    true
  {{- else -}}
    {{- /* nothing found */ -}}
    {{- "" -}}
  {{- end -}}
{{- else -}}
  {{- "" -}}
{{- end -}}
