{{- if .Page.File -}}
    {{- $cmsBaseURL := "https://cheeseepedia.org/admin/#/collections/" -}}
    {{- $parentFolder := path.Base (path.Dir .Page.File.Path) -}} <!-- Get the parent folder name -->
    {{- $entryName := replace .Page.File.BaseFileName ".html" "" -}} <!-- Extract slug by removing .md extension -->
    <button class="blank-button"
        onclick="window.location.href = '{{ $cmsBaseURL }}{{ $parentFolder }}/entries/{{ $entryName }}';">
        Start Page
    </button>
{{- end -}}
