{{- if .Page.File -}}
    {{- $cmsBaseURL := "https://cheeseepedia.org/admin/#/collections/" -}}
    {{- $parentFolder := path.Base (path.Dir .Page.File.Path) -}} <!-- Get the parent folder name -->
    {{- $entryName := replace .Page.File.BaseFileName ".md" "" -}} <!-- Extract slug by removing .html extension -->
    {{- $pageTitle := .Page.Title -}} <!-- Get the page title -->

    <select class="button-dropdown" onchange="navigateTo(this.value)">
        <option value="" disabled selected>Contribute</option>
        <option value="{{ $cmsBaseURL }}{{ $parentFolder }}/entries/{{ $entryName }}">Edit Page</option>
        <option value="{{ $cmsBaseURL }}reviews/new?page={{ $pageTitle | urlquery }}">Write A Review</option>
    </select>

    <script>
        function navigateTo(url) {
            if (url) {
                window.location.href = url;
            }
        }
    </script>
{{- end -}}
