{{- $dictionary := dict 
  "Animatronic Preservation" "<img src=\"/UI/Emojis/wrench.svg\" class=\"emoji\">"
  "Animatronic Shows" "<img src=\"/UI/Emojis/bang.svg\" class=\"emoji\">"
  "Animatronics" "<img src=\"/UI/Emojis/spiky_speech_bubble.svg\" class=\"emoji\">"
  "Costumed Characters" "<img src=\"/UI/Emojis/back_of_hand_hoof_d1.svg\" class=\"emoji\">"
  "Retrofits" "<img src=\"/UI/Emojis/pirate_flag.svg\" class=\"emoji\">"
  "Stage Variations" "<img src=\"/UI/Emojis/speaker.svg\" class=\"emoji\">"
  "Corporate Documents" "<img src=\"/UI/Emojis/page_with_pencil.svg\" class=\"emoji\">"
  "Documents" "<img src=\"/UI/Emojis/page.svg\" class=\"emoji\">"
  "Promotional Material" "<img src=\"/UI/Emojis/curled_page.svg\" class=\"emoji\">"
  "Animatronic Control Systems" "<img src=\"/UI/Emojis/control_knobs.svg\" class=\"emoji\">"
  "Other Systems" "<img src=\"/UI/Emojis/crt_test_pattern.svg\" class=\"emoji\">"
  "Programming Systems" "<img src=\"/UI/Emojis/crt_prompt.svg\" class=\"emoji\">"
  "Characters" "<img src=\"/UI/Emojis/thumbs_up_paw.svg\" class=\"emoji\">"
  "Events" "<img src=\"/UI/Emojis/tada.svg\" class=\"emoji\">"
  "History" "<img src=\"/UI/Emojis/spider_web.svg\" class=\"emoji\">"
  "Ad Vehicles" "<img src=\"/UI/Emojis/bus.svg\" class=\"emoji\">"
  "Arcade Games" "<img src=\"/UI/Emojis/arcade_stick.svg\" class=\"emoji\">"
  "Employee Wear" "<img src=\"/UI/Emojis/chef_v1.svg\" class=\"emoji\">"
  "Locations" "<img src=\"/UI/Emojis/world_map.svg\" class=\"emoji\">"
  "Remodels and Initiatives" "<img src=\"/UI/Emojis/construction_sign.svg\" class=\"emoji\">"
  "Store Fixtures" "<img src=\"/UI/Emojis/package.svg\" class=\"emoji\">"
  "Commercials" "<img src=\"/UI/Emojis/movie_camera.svg\" class=\"emoji\">"
  "News Footage" "<img src=\"/UI/Emojis/tv.svg\" class=\"emoji\">"
  "Photos" "<img src=\"/UI/Emojis/camera_with_flash.svg\" class=\"emoji\">"
  "Videos" "<img src=\"/UI/Emojis/film_frames.svg\" class=\"emoji\">"
  "Company Media" "<img src=\"/UI/Emojis/dvd.svg\" class=\"emoji\">"
  "In-Store Merchandise" "<img src=\"/UI/Emojis/free.svg\" class=\"emoji\">"
  "Products" "<img src=\"/UI/Emojis/dollar.svg\" class=\"emoji\">"
  "Menu Items" "<img src=\"/UI/Emojis/pizza.svg\" class=\"emoji\">"
  "Movies" "<img src=\"/UI/Emojis/cinema.svg\" class=\"emoji\">"
  "Tickets" "<img src=\"/UI/Emojis/cross.svg\" class=\"emoji\">"
  "Tokens" "<img src=\"/UI/Emojis/cross.svg\" class=\"emoji\">"
  "Video Games" "<img src=\"/UI/Emojis/gamepad.svg\" class=\"emoji\">"
  "Family Vision" "<img src=\"/UI/Emojis/projector.svg\" class=\"emoji\">"
  "Live Shows" "<img src=\"/UI/Emojis/music_note.svg\" class=\"emoji\">"
  "ShowBiz Pizza Programs" "<img src=\"/UI/Emojis/cassette.svg\" class=\"emoji\">"
  "Showtape Formats" "<img src=\"/UI/Emojis/vhs.svg\" class=\"emoji\">"
  "Showtape Puppets" "<img src=\"/UI/Emojis/back_of_hand_paw_k2.svg\" class=\"emoji\">"
  "Showtapes" "<img src=\"/UI/Emojis/music_notes.svg\" class=\"emoji\">"
  "Animatronic News" "<img src=\"/UI/Emojis/decreasing_graph.svg\" class=\"emoji\">"
  "Meta" "<img src=\"/UI/Emojis/zzz.svg\" class=\"emoji\">"
  "Reviews" "<img src=\"/UI/Emojis/fire.svg\" class=\"emoji\">"
  "Transcriptions" "<img src=\"/UI/Emojis/pencil.svg\" class=\"emoji\">"
  "User" "<img src=\"/UI/Emojis/furry_pride.svg\" class=\"emoji\">"

-}}

{{- $inputString := . -}}

{{- $value := index $dictionary $inputString -}}
{{- $convertedString := cond $value (print $value " " $inputString) $inputString -}}

{{- $convertedString | safeHTML -}}
