{{- $photos := partialCached "grab-all-photos.html" "key"}}
{{- if eq . "" -}}
  <div class="article-photo-image">
    <a href="{{- . -}}">
      <img src="/UI/File Not Found.jpg" alt="{{- . -}}" />
    </a>
  </div>
  <div class="article-photo-description">
    {{- . -}}
  </div>
{{- else -}}
    {{- $pages := first 1 (where $photos "Params.title" "eq" . )}}
    {{- if gt (len $pages) 0 -}}
    {{- $page := index $pages 0 -}}
    <div class="article-photo-image">
      <a href="{{- $page.RelPermalink -}}">
        {{- if or (not (fileExists (printf "static/photos/%s" .))) (eq . "") -}}
        <img src="/UI/File Not Found.jpg" alt="{{- $page.Params.description -}}" />
        {{- else -}}
        <img src="{{- printf "/photos/%s" . -}}" alt="{{- $page.Params.description -}}" />
        {{- end -}}
      </a>
    </div>
    <div class="article-photo-description">
      {{- $page.Params.description -}}
      {{- if $page.Params.startDate -}}
      {{- " (" -}}{{- partial "date-to-readable-date.html" $page.Params.startDate -}}{{- ")" -}}
      {{- end -}}
    </div>
  {{- else -}}
    <div class="article-photo-image">
      <a href="{{- . -}}">
        <img src="/UI/File Not Found.jpg" alt="{{- . -}}" />
      </a>
    </div>
    <div class="article-photo-description">
      {{- . -}}
    </div>
    {{- end -}}
{{- end -}}

