{{- $imagePath := printf "/photos/%s" . -}}

{{- if or (not (fileExists (printf "static/photos/%s" .))) (eq . "") -}}
  {{- $imagePath = "/UI/File Not Found.jpg" -}}
{{- end -}}
{{ $photos := partialCached "grab-all-photos.html" "key"}}
{{ $pages := first 1 (where $photos "Params.title" "eq" . )}}

{{- if gt (len $pages) 0 -}}
  {{ $pages := index $pages 0 }}
  <a href="{{ $pages.RelPermalink }}">
    <img src="{{ $imagePath }}" alt="{{ $pages.Title }}" />
  </a>
{{- else -}}
  <img src="{{ $imagePath }}" alt="{{ . }}" />
{{- end -}}
