<div style="display: flex; align-items:center;">
    <div style="flex: auto;margin-right:1em;">
        {{- partial "theme-picker" -}}
    </div>
    <div style="flex: auto;">
        <p>Content is available under CC BY-SA 4.0. Cheese-E-Pedia is not associated with CEC Entertainment, Creative Engineering, Creative Presentations, The Walt Disney Company, Sally Corporation, or any other company mentioned in its articles. All trademarks and characters are copyrights of their respective owners. <a href="https://youtu.be/Vce1hFNVI1o">All rights reserved for trans people.</a> This website was last updated {{ now | time.Format ":date_medium" }} at {{ now | time.Format ":time_medium" }}.</p>
    </div>
</div>
