<div style="display: flex; align-items:center;">
    <div style="flex: auto;margin-right:1em;">
        {{- partial "theme-picker" -}}
    </div>
    <div style="flex: auto;">
        <p>Content is available under CC BY-SA 4.0. and rehostable. Cheese-E-Pedia is not associated with any person, company, or entity in its articles. <a href="https://youtu.be/Vce1hFNVI1o">All</a> rights <a href="https://vyletpony.bandcamp.com/track/falling-in-love-with-a-corporate-illustration">reserved</a> for <a href="https://youtu.be/y8LVM3rVSM4">our</a> lovely <a href="https://vyletpony.bandcamp.com/track/webpunk-ft-nekosnicker">trans</a> queers <a href="https://youtu.be/hdus_rz7O3o">forever</a>! Corporations should rot in hell, keep things independent and community focused, and no gatekeepers!</p>
    </div>
</div>

