<div style="display: flex; align-items:center;">
    <div style="flex: auto;margin-right:1em;">
        {{- partial "theme-picker" -}}
    </div>
    <div style="flex: auto;">
        <p>Content is available under CC BY-SA 4.0. Cheese-E-Pedia is not associated with anyone or anything in its articles. <a href="https://youtu.be/Vce1hFNVI1o">ALL</a> rights <a href="https://vyletpony.bandcamp.com/track/falling-in-love-with-a-corporate-illustration">RESERVED</a> for <a href="https://youtu.be/y8LVM3rVSM4">OUR</a> lovely <a href="https://vyletpony.bandcamp.com/track/webpunk-ft-nekosnicker">TRANS</a> queers <a href="https://youtu.be/hdus_rz7O3o">FOREVER</a>!!! FUCK CORPORATIONS!!!</p>
    </div>
</div>

