{{- if .IsHome -}}
  {{- $sections := .Site.Sections }}
  {{- range $sections -}}
    {{- $section := .Section -}}
    {{- $sectionData := slice -}}
    {{- $pages := where .Site.RegularPages "Section" "eq" $section -}}
    {{- range $pages -}}
      {{- $pageData:= dict "00-title" .Title "01-content" .Content "02-permalink" .RelPermalink -}}
      {{- $sectionData = $sectionData | append $pageData -}}
    {{- end -}}
    {{- $json := $sectionData | jsonify (dict "noHTMLEscape" true) -}}
    {{- $noop := (resources.FromString (printf "/%s.json" $section) $json).Permalink -}}
  {{- end -}}
{{- end -}}

{{ if .IsHome }}
  {{ $j := jsonify (dict "last-build" (now.Format "2006-01-02 15:04:05")) }}
  {{ $noop := (resources.FromString "/lastbuild.json" $j).Permalink }}
{{ end }}