{{- if .IsHome -}}
  {{- $pages := slice -}}
  {{- range .Site.RegularPages -}}
    {{- $pageData := dict 
      "00-title" .Title
      "01-content" .Plain
    -}}
    {{- $pages = $pages | append $pageData -}}
  {{- end -}}
  {{- $json := $pages | jsonify -}}
  {{- $noop := (resources.FromString "/site.json" $json).Permalink -}}
{{- end -}}

{{ if .IsHome }}
  {{ $j := jsonify (dict "last-build" (now.Format "2006-01-02 15:04:05")) }}
  {{ $noop := (resources.FromString "/lastbuild.json" $j).Permalink }}
{{ end }}