<!--<link href="/pagefind/pagefind-ui.css" rel="stylesheet">-->
<script src="/pagefind/pagefind-ui.js"></script>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });

        const urlParams = new URLSearchParams(window.location.search);
        const query = urlParams.get('q');

        if (query) {
            document.querySelector("#search input").value = query;
            document.querySelector("#search input").dispatchEvent(new Event('input'));
        }
    });
</script>

<div class="snow_wrap">
  <div class="snow"></div>
</div>

{{- $contributorCounts := dict -}} <!-- Initialize an empty dictionary to store contributor counts -->

{{- range .Site.RegularPages -}} <!-- Loop through all regular pages (articles) -->
  {{- with .Params.contributors -}} <!-- Check if the article has contributors -->
    {{- range . -}} <!-- Loop through each contributor -->
      {{- if not (index $contributorCounts .) -}} <!-- If the contributor is not already in the dictionary -->
        {{- $contributorCounts = merge $contributorCounts (dict . 1) -}} <!-- Add the contributor with a count of 1 -->
      {{- else -}}
        {{- $contributorCounts = merge $contributorCounts (dict . (add (index $contributorCounts .) 1)) -}} <!-- Increment the count -->
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<!-- Convert the dictionary to a slice for sorting -->
{{- $sortedContributors := slice -}}
{{- range $key, $value := $contributorCounts -}}
  {{- $sortedContributors = $sortedContributors | append (dict "name" $key "count" $value) -}}
{{- end -}}

<!-- Sort the slice by count in descending order -->
{{- $sortedContributors = sort $sortedContributors "count" "desc" -}}

<!-- Count of unique contributors -->
{{- $contributorCount := len $sortedContributors -}}

{{- $count := 0 -}}
{{- range .Site.RegularPages -}}
  {{- with .RenderString .Content -}}
    {{- $count = add $count 1 -}}
  {{- end -}}
{{- end -}}

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 0.5vw;">
  <a href="{{- .Site.BaseURL -}}"><img src="/UI/CEPLogo.png" alt="Logo" style="width: 100%;"></a>
  <div class="fun-text">
    Now at <strong>{{- $count -}} </strong> articles contributed by <strong>{{- $contributorCount -}}</strong> users.
  </div>
</div>

<div id="search"></div>