<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{- if .IsHome -}}{{- site.Title -}}{{- else -}}{{- printf "%s | %s" .Title site.Title -}}{{- end -}}</title>
{{- partialCached "head/css.html" . -}}
{{- partialCached "head/js.html" . -}}
{{- with .OutputFormats.Get "rss" -}}
  {{- printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML -}}
{{- end -}}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<!-- Open Graph Metadata -->
{{- $site := .Site.BaseURL -}}
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ if .Summary }}{{ .Summary | truncate 160 | html }}{{ else }}{{ .Plain | truncate 160 | html }}{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ with .Params.pageThumbnailFile }}{{- $site -}}photos/{{ . }}{{ else }}{{- $site -}}photos/default-thumbnail.avif{{ end }}">
<meta property="og:image:secure_url" content="{{ with .Params.pageThumbnailFile }}{{- $site -}}photos/{{ . }}{{ else }}{{- $site -}}photos/default-thumbnail.avif{{ end }}">
<meta property="og:site_name" content="{{ .Site.Title }}">

<!-- Twitter Card Metadata -->
<meta name="twitter:card" content="{{ if .Params.pageThumbnailFile }}summary_large_image{{ else }}summary{{ end }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ if .Summary }}{{ .Summary | truncate 160 | html }}{{ else }}{{ .Plain | truncate 160 | html }}{{ end }}">
<meta name="twitter:image" content="{{ with .Params.pageThumbnailFile }}{{- $site -}}photos/{{ . }}{{ else }}{{- $site -}}photos/default-thumbnail.avif{{ end }}">
