<!--<link href="/pagefind/pagefind-ui.css" rel="stylesheet">-->
<script src="/pagefind/pagefind-ui.js"></script>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({ element: "#search", showSubResults: true });

        const urlParams = new URLSearchParams(window.location.search);
        const query = urlParams.get('q');

        if (query) {
            document.querySelector("#search input").value = query;
            document.querySelector("#search input").dispatchEvent(new Event('input'));
        }
    });
</script>

<aside data-pagefind-ignore="all">
<div id="snow_wrap" display="none">
  <div class="snow_wrap">
      <div class="snow"></div>
  </div>
</div>

{{- partial "splash-text" -}}

{{- $contributorCounts := dict -}}
{{- $articleCount := 0 -}}

{{- range .Site.RegularPages -}}
  {{- $articleCount = add $articleCount 1 -}}
  {{- with .Params.contributors -}}
    {{- range . -}}
      {{- if not (index $contributorCounts .) -}}
        {{- $contributorCounts = merge $contributorCounts (dict . 1) -}}
      {{- else -}}
        {{- $contributorCounts = merge $contributorCounts (dict . (add (index $contributorCounts .) 1)) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<!-- Sorting contributors -->
{{- $sortedContributors := slice -}}
{{- range $key, $value := $contributorCounts -}}
  {{- $sortedContributors = $sortedContributors | append (dict "name" $key "count" $value) -}}
{{- end -}}
{{- $sortedContributors = sort $sortedContributors "count" "desc" -}}

{{- $contributorCount := len $sortedContributors -}}

{{- $count := 0 -}}
{{- range .Site.RegularPages -}}
  {{- with .RenderString .Content -}}
    {{- $count = add $count 1 -}}
  {{- end -}}
{{- end -}}

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 0.5vw;">
  <a href="{{- .Site.BaseURL -}}"><img src="/UI/CEPLogo.png" alt="Logo" style="width: 100%;"></a>
  <div class="fun-text">
    Now at <strong>{{- $count -}} </strong> articles contributed by <strong>{{- $contributorCount -}}</strong> users.
  </div>
</div>

<div id="search"></div>
</aside>