{{- partialCached "display-dropdown-FEC.html" . -}}
{{- partialCached "display-dropdown-manufacturer.html" . -}}

<div class="category-tags" id="category-all" style="display: block;">
  {{- partial "list-all-tags.html" . -}}
</div>

{{- $categories := .Site.Taxonomies.categories -}}
<div id="tagsContainer">
  {{- range $categoryName, $pages := $categories -}}
    <div class="category-tags" id="category-{{- $categoryName | urlize -}}" style="display: none;">
      {{- $tags := dict -}} <!-- Initialize a dictionary to store tags and counts -->
      {{- range $pages -}}
        {{- $currentPage := . -}}
        {{- range $currentPage.Params.tags -}} <!-- Iterate over tags in each page -->
          {{- $tag := . -}}
          {{- $count := index $tags $tag -}} <!-- Get current count for the tag -->
          {{- if $count -}}
            {{- $tags = merge $tags (dict $tag (add $count 1)) -}}
          {{- else -}}
            {{- $tags = merge $tags (dict $tag 1) -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}
      <div class="tri-column">
          <ul>
          {{- range $tag, $count := $tags -}} <!-- List tags and their counts -->
          {{- $tagFix := (replace $tag " " "-") -}}
          {{- $tagFix := (replace $tagFix "&-" "") -}}
          {{- $tagFix := (replace $tagFix "," "") -}}
          <li>
              <a href="{{- ($.Site.GetPage (printf "/tags/%s" $tagFix)).RelPermalink -}}" title="All pages with tag <i>{{- $tag -}} </i>">{{- $tag -}} </a>
              <sup>{{- $count -}}</sup>
          </li>
          {{- end -}}
          </ul>
      </div>
    </div>
  {{- end -}}
</div>

<script>
  window.onload = function() {
    // Retrieve the saved category from localStorage
    var FECLoadValue = localStorage.getItem('selectedFEC');
    var FEC = document.getElementById("FECSelect");
    var MANULoadValue = localStorage.getItem('selectedManufacturer');
    var MANU = document.getElementById("manufacturerSelect");

    if (FECLoadValue) {
      FEC.value = FECLoadValue;
    }
    if (MANULoadValue) {
      MANU.value = MANULoadValue;
    }
    showCategoryTags();
  }

  function showCategoryTags(check) {
    var selectedCategory = "all";
    var FEC = document.getElementById("FECSelect");
    var MANU = document.getElementById("manufacturerSelect");

    if(check == "FEC")
    {
      selectedCategory = FEC.value;
      document.getElementById("manufacturerSelect").value = "all";
      localStorage.setItem('selectedFEC', FEC.value);
      localStorage.removeItem('selectedManufacturer');
    }
    else if(check == "MANU")
    {    
      selectedCategory = MANU.value;
      document.getElementById("FECSelect").value = "all";
      localStorage.setItem('selectedManufacturer', MANU.value);
      localStorage.removeItem('selectedFEC');
    }
    if(FEC.value != "all")
    {
      selectedCategory = FEC.value;
      document.getElementById("manufacturerSelect").value = "all";
      localStorage.setItem('selectedFEC', FEC.value);
      localStorage.removeItem('selectedManufacturer');
    }
    if(MANU.value != "all")
    {
      selectedCategory = MANU.value;
      document.getElementById("FECSelect").value = "all";
      localStorage.setItem('selectedManufacturer', MANU.value);
      localStorage.removeItem('selectedFEC');
    }

    var categories = document.getElementsByClassName("category-tags");
    for (var i = 0; i < categories.length; i++) {
      categories[i].style.display = "none";
    }

    // Show the selected category's tags
    var selectedDiv = document.getElementById("category-" + selectedCategory);
    if (selectedDiv) {
      selectedDiv.style.display = "block";
    }
  }
</script>