<h1>{{- partial "emojify.html" .Title -}}</h1>
{{- .Content | safeHTML -}}
<div class="dropdown-area">
{{- partialCached "display-dropdown-FEC.html" . -}}
{{- partialCached "display-dropdown-manufacturer.html" . -}}
{{- partialCached "display-dropdown-movie.html" . -}}
{{- partialCached "display-dropdown-year.html" . -}}
</div>
{{- $listPages := sort .Pages "Params.startDate" -}}
<div class="gallery">
    <div id="tagsContainer" style="  
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-around;"
    >
        {{- range $listPages -}}
        <div class="{{- delimit (apply .Params.categories "urlize" ".") " " -}}{{- " " -}}{{- partial "date-to-year.html" .Params.startDate -}}" style="display: none;">
            <div class="gallery-image-box">
                {{- partial "filename-to-photo.html" .Title -}}
            </div>
        </div>
        {{- end -}}
    </div>
</div>

{{- partialCached "display-dropdown-script.html" . -}}