{{- $pages := where (shuffle (where .Site.RegularPages "Section" "wiki")) "Content" "!=" "" -}}
{{- $randomPage := index $pages 0 -}}
<div class="list-page-block">
    <div class="list-page-container">
        <div class="list-image">
            <a href="{{- $randomPage.RelPermalink -}}">
                {{- partial "filename-to-photo-no-link.html" $randomPage.Params.Article.pageThumbnailFile -}}
            </a>
        </div>
        <div class="list-page-content">            
            <a href="{{- $randomPage.RelPermalink -}}">
                {{- with $randomPage.LinkTitle -}}
                    {{- . | safeHTML -}}
                {{- else -}}
                    {{- $randomPage.Title | safeHTML -}} <!-- Fallback to Title if no LinkTitle -->
                {{- end -}}
            </a>
            <div class="list-page-date">
                {{- $startCheck := false -}}
                {{- with $randomPage.Params.Article.startDate -}}
                    {{- partial "date-to-readable-date.html" . -}}
                    {{- $startCheck = true -}}
                {{- end -}}
                {{- with $randomPage.Params.Article.endDate -}}
                    {{- if $startCheck -}}
                    {{" - "}}{{- partial "date-to-readable-date.html" . -}}
                    {{- else -}}
                    {{"? - "}}{{- partial "date-to-readable-date.html" . -}}
                    {{- end -}}
                {{- else -}}
                    {{- if $startCheck -}}
                    {{" - Present"}}
                    {{- end -}}
                {{- end -}}
            </div>
        </div>
        <div class="edit-button-container">
            {{- partial "editButton.html" $randomPage -}}
        </div>
    </div>
</div>