{{ define "main" }}
  <h1>{{ .Title | markdownify | safeHTML }}</h1>
  <hr>
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  
  {{ .Content | markdownify | safeHTML }}

  <hr><div class="contributors"><strong>Article Contributed By:</strong>
    {{ with .Params.article.contributors }}
    {{- $len := len . -}}
    {{- range $index, $element := . -}}
      {{- $path := printf "content/wiki/Users/%s.md" $element -}}
      {{- if fileExists $path }}
        {{- $slug := replace $element " " "-"| lower  -}}
        <a href="{{ relURL (printf "wiki/users/%s/" $slug) }}">{{ $element }}</a>
      {{- else }}
        {{- $element -}}
      {{- end -}}
      {{- if lt (add $index 1) $len }}, {{ end }}
    {{- end -}}  

    <strong> | Last updated on: </strong><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
</div>
{{ end }}  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}