{{- partial "editButton-list.html" . -}}
{{- partial "display-breadcrumbs.html" . -}}
<h1>{{- .Title | safeHTML -}}</h1>
<hr>

{{- if .Params.pageThumbnailFile -}}
  <div class="article-thumbnail">
    {{- partial "filename-to-photo-no-css.html" .Params.pageThumbnailFile -}}
  </div>
{{- end -}}
{{- .Content | safeHTML}}

<hr>
{{- $currentTitle := .Title -}}
{{- $reviews := partialCached "grab-all-reviews.html" . -}}
<h2>My Reviews:</h2>
{{- range $reviews -}}
  {{- $page := . -}} <!-- Store the current page object in a variable -->
  {{- with $page.Params.Page -}}
    {{- $revCont := $page.Params.contributors -}}
    {{- if in $revCont $currentTitle -}}
      {{- partial "display-review-box.html" $page -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
<hr>
<h2>I contributed to these pages!</h2>
<div class="tri-column">
  <ul>
    {{- $pages := partialCached "grab-all-wiki-articles.html" . -}}
    {{- range $pages -}}
      {{- $page := . -}} <!-- Store the current page object in a variable -->
      {{- with $page.Params.contributors -}}
        {{- $contributors := . -}}
        {{- if in $contributors $currentTitle -}}
          <li><a href="{{- $page.RelPermalink -}}">{{- $page.Title -}}</a></li>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </ul>
</div>
<hr>

{{- partial "display-contributors.html" . -}}
