<h1>{{ partialCached "markdownify" .Title }}</h1>
<hr>

{{ $dateMachine := partialCached "formatDate" (dict "Date" .Date "Format" "2006-01-02T15:04:05-07:00") }}
{{ $dateHuman := partialCached "formatDate" (dict "Date" .Date "Format" ":date_long") }}

{{ partialCached "markdownify" .Content }}

<hr>
<h2>{{ partialCached "markdownify" .Title }} contributed to these pages!</h2>

{{ $currentTitle := .Title }}
{{ $pages := where .Site.Pages "Section" "wiki" }}

<ul>
  {{ range $pages }}
    {{ $page := . }} <!-- Store the current page object in a variable -->
    {{ with $page.Params.Article.contributors }}
      {{ $contributors := . }}
      {{ if in $contributors $currentTitle }}
        <li><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></li>
      {{ end }}
    {{ end }}
  {{ end }}
</ul>

<strong>Last updated on: </strong><time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
