{{- define "main" -}}
{{- .Content | safeHTML -}}
{{- partial "list-tags-in-category.html" . -}}
<hr>
<h2>Recent News</h2>
{{- partial "recent-news.html" . -}}
<hr>
<h2>Introductions</h2>
{{- partial "introductions.html" . -}}
<hr>
<h2>Random Articles</h2>
{{- partial "random-page.html" . -}}
{{- partial "random-page.html" . -}}
<hr>
<h2>Recently Changed</h2>
{{- partial "recently-changed.html" . -}}
{{- $pages := slice -}}
{{- range .Site.RegularPages -}}
  {{- $pageData := dict 
    "00-title" .Title
    "01-content" .Plain
    "02-tags" .Params.tags
    "03-categories" .Params.categories
    "04-latlong" .Params.latitudeLongitude
    "05-startDate" .Params.startDate
    "06-endDate" .Params.endDate
    "07-cuDate" .Params.cuDate
  -}}
  {{- $pages = $pages | append $pageData -}}
{{- end -}}
{{- $json := $pages | jsonify -}}
{{- $noop := (resources.FromString "/site.json" $json).Permalink -}} 
{{- end -}}