{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content | markdownify | safeHTML }}
  {{ range .Pages }}
  <div class="list-page-block">
    <h2><a href="{{ .RelPermalink }}">
      {{ with .LinkTitle }}
          {{ . | markdownify | safeHTML }}
      {{ else }}
          {{ .Title | markdownify | safeHTML }} <!-- Fallback to Title if no LinkTitle -->
      {{ end }}      
    </a></h2> 
      <div class="list-page-summary">
        {{ with .Summary }}
          {{ . | markdownify | safeHTML | truncate 150 "..." }}
        {{ else }}
          (Click to read more...)
        {{ end }}
      </div>
  </div>
  {{ end }}
{{ end }}
