{{- define "main" -}}
  {{- $layout := "baseArticle" -}}
  {{- with .Params.tags -}}
    {{- if in . "User" -}}
      {{- $layout = "user" -}}
    {{- else if in . "Locations" -}}
      {{- $layout = "baseStoreArticle" -}}
    {{- else if in . "Transcriptions" -}}
      {{- $layout = "baseTranscriptionArticle" -}}
    {{- else if in . "Reviews" -}}
      {{- $layout = "baseReviewArticle" -}}
    {{- else if in . "Photos" -}}
      {{- $layout = "basePhotoArticle" -}}
    {{- else if in . "Videos" -}}
      {{- $layout = "baseVideoArticle" -}}
    {{- else if in . "Animatronic News" -}}
      {{- $layout = "baseNewsArticle" -}}
    {{- end -}}
  {{- end -}}
  {{- partial $layout . -}}
{{- end -}}

