{{- $currentPageTitle := .Title -}} 
{{- $reviews := partialCached "grab-all-reviews.html" "key"}}
{{- $hasGallery := 0 -}}
{{- $galleryOpen := false -}}
{{- range sort $reviews "Params.startDate" "desc" -}}
  {{- $matches := false -}} 
  
  {{- if eq .Params.page $currentPageTitle -}} 
    {{- $matches = true -}}
    {{- if eq $hasGallery 0 -}} 
      <div class="gallery">
      {{- $galleryOpen = true -}}
    {{- end -}}
    {{- $hasGallery = add $hasGallery 1 -}}
  {{- end -}}

  {{- if $matches -}} 
    {{- partial "display-review-box.html" . -}}
  {{- end -}}
{{- end -}}

{{- if $galleryOpen -}} 
</div>
{{- end -}}