{{- $page := .page -}}
{{- $hasContent := .hasContent -}}

{{- if $page.File -}}
    {{- $cmsBaseURL := "https://cheeseepedia.org/admin/#/collections/" -}}
    {{- $parentFolder := path.Base (path.Dir $page.File.Path) -}}
    {{- $entryName := replace $page.File.BaseFileName ".md" "" -}}
    {{- $buttonClass := cond $hasContent "button" "blank-button" -}}
    {{- $buttonLabel := cond $hasContent "Edit Page" "Start Page" -}}

    <button class="{{ $buttonClass }}"
        onclick="window.location.href='{{ $cmsBaseURL }}{{ $parentFolder }}/entries/{{ $entryName }}';">
        {{ $buttonLabel }}
    </button>
{{- end -}}
