{{- $title := .LinkTitle | default .Title -}}
{{- $titleLen := len $title -}}
<div class="alt-list-page-block">
<div class="alt-list-page-container">
<div class="alt-list-image">
<a href="{{ .RelPermalink }}">
{{- $thumb := default "" .Params.pageThumbnailFile -}}
{{- $mode := "raw-photo" -}}
{{- if eq .Params.type "Videos" -}}
<span onclick="event.preventDefault(); event.stopPropagation();">
{{- partial "video-thumbnail.html" (cond (ne (.Params.videoLink | default "") "") .Params.videoLink .Title) -}}
</span>
{{- else if ne $thumb "" -}}
{{- partialCached "DisplayPhoto.html" (dict "name" $thumb "mode" $mode) (printf "%s|%s" $thumb $mode) -}}
{{- else -}}
<div class="alt-list-text-preview">{{ .Plain | htmlUnescape | truncate 175 "" }}</div>
{{- end -}}
</a>
</div>
<div class="alt-list-page-content">
<a href="{{ .RelPermalink }}">
{{- if gt $titleLen 20 -}}
<span>{{ $title | safeHTML }}</span>
{{- else -}}
{{ $title | safeHTML }}
{{- end -}}
{{ if .Params.downloadLinks }}
<img src="/UI/Emojis/inbox.svg" class="emoji">
{{ end }}
</a>
{{- if ne .Section "meta" -}}
<div class="alt-list-page-date">
{{- partial "emojijustemoji.html" .Params.type -}}{{- partial "Readable_Date.html" (dict "date" .Params.startDate "presentOnEmpty" false) -}}
{{- $hideEndDate := in (slice "Theories" "Images" "Videos") .Params.type -}}
{{- if not $hideEndDate -}}
{{- " - " -}}
{{- partial "Readable_Date.html" (dict "date" .Params.endDate "presentOnEmpty" true) -}}
{{- end -}}
</div>
{{- end -}}
</div>
</div>
</div>