{{/* theoryweb/article.html - Article partial for the theoryweb section */}}
{{- .Page.Store.Set "citationsCount" dict -}}
{{- $type := .Params.type | default "" -}}
{{- $isImage := eq $type "Images" -}}
{{- $isVideo := eq $type "Videos" -}}
{{- $videoLink := .Params.videoLink | default "" -}}
{{- $isYouTube := or (strings.Contains $videoLink "youtube.com") (strings.Contains $videoLink "youtu.be") -}}

{{/* Article Title */}}
<h1>{{- .Title | safeHTML -}}</h1>

{{/* Top Bar */}}
<aside>
  <div class="article-topBar">
    <button class="article-button" data-target="section-article">Article</button>
    {{- if .Page.File -}}
    <button class="article-button" data-target="section-edit">Edit Page</button>
    {{- end -}}
  </div>
</aside>
<script src="/js/topbar.js"></script>

{{/* Main Article section */}}
<div id="section-article" class="article-section">

  {{- if and $isVideo $isYouTube -}}
    {{/* Convert any YouTube URL to embed URL */}}
    {{- $embedURL := "" -}}
    {{- if strings.Contains $videoLink "youtu.be/" -}}
      {{- $videoID := index (last 1 (split $videoLink "youtu.be/")) 0 -}}
      {{- $videoID = index (split $videoID "?") 0 -}}
      {{- $embedURL = printf "https://www.youtube.com/embed/%s" $videoID -}}
    {{- else if strings.Contains $videoLink "watch?v=" -}}
      {{- $videoID := index (last 1 (split $videoLink "watch?v=")) 0 -}}
      {{- $videoID = index (split $videoID "&") 0 -}}
      {{- $embedURL = printf "https://www.youtube.com/embed/%s" $videoID -}}
    {{- else if strings.Contains $videoLink "/embed/" -}}
      {{- $embedURL = $videoLink -}}
    {{- end -}}
    {{- if $embedURL -}}
    <div class="tw-video-wrap">
      <iframe
        src="{{- $embedURL -}}"
        frameborder="0"
        allowfullscreen
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      ></iframe>
    </div>
    {{- end -}}
  {{- end -}}

  {{- if $isImage -}}
    {{- $thumb := default "" .Params.pageThumbnailFile -}}
    {{- $patched := .Content | replaceRE `(<img\b[^>]*\bsrc=")[^"]*(")` (printf "${1}/photos/%s${2}" $thumb) -}}
    {{- $beforeControls := $patched | replaceRE `(?s)([\s\S]*</div>)\s*[\s\S]*$` "$1" -}}
    {{- $afterControls := $patched | replaceRE `(?s)[\s\S]*</div>\s*` "" -}}
    <div class="tw-evidence-wrap">
      {{- $beforeControls | safeHTML -}}
    </div>
    <div class="tw-evidence-controls">
      <div class="article-topBar">
        <button class="ev-tab active" data-target="blacks">Blacks</button>
        <button class="ev-tab" data-target="mids">Midtones</button>
        <button class="ev-tab" data-target="whites">Whites</button>
        <button class="ev-tab" data-target="sharpen">Sharpen</button>
        <button id="ev-reset">Reset</button>
      </div>
      <div style="display:flex; width:100%;">
        <input type="range" style="flex:1;" id="ev-slider" min="-100" max="100" value="0">
      </div>
    </div>
    {{- $afterControls | safeHTML -}}
    {{- partial "display-citations.html" . -}}
  {{- else -}}
    {{- .Content | safeHTML -}}
    {{- partial "display-citations.html" . -}}
  {{- end -}}

</div>

{{- if .Page.File -}}
<div id="section-edit" class="article-section">
  {{- partial "edit-page-github.html" . -}}
</div>
{{- end -}}

<hr>
{{ partial "Article_Tags.html" . }}
<br>
{{ partial "display-contributors.html" . }}
<hr>
{{- partial "Random_Page.html" . -}}
<div class="tw-ocr-tooltip" id="tw-ocr-tooltip"></div>
<script src="/js/ocr.js"></script>