{{- partial "splash-text" -}}
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 0.5vw;">
    <div class="fun-logo">
    <a href="https://cheeseepedia.org/theoryweb"><img src="/UI/LogoTheoryWeb.avif" id="theoryLogo" alt="Logo"></a>
    </div>
    <div class="fun-text">
        Powered by Cheese-E-Pedia.<br>Discussions available on the <strong><a href="https://forum.cheeseepedia.org/">Forums!</a></strong>
    </div>
</div>
{{ partial "site_search.html" . }}
</aside>
