:root {
    --blue:#233355;
    --aqua: #39A481;
    --white: #dbd1b1;
    --deep-white: #62777a;
    --yellow: #e0961f;
    --orange: #D44A02;
    --deep-orange: #993b08;
    --brown: #2c2422;
  }
  

.frame-content {
    color: var(--white);
    background-color: var(--blue);
    font-family: "Aleo";
    font-size: 1em;
    line-height: 1.5; 
    margin: 0 auto;
    max-width: 65em;
    min-width: 30em;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
    text-wrap: pretty;
    word-wrap: anywhere;
  }

  hr
{
  border: .2em solid var(--brown);
  border-radius: 5em;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: transparent;
}

a {
  color: var(--aqua);
  text-decoration: none;
}


sup{
    color: var(--yellow); 
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em;
    text-align: left;
  }
  
  /* Table borders */
  table, th, td {
    border: .25em solid var(--brown);
    min-width: 5em;
  }
  
  /* Table headers */
  th {
    background-color: var(--orange);
    color: var(--white);
    padding: 0.5em;
  }
  
  /* Table cells */
  td {
    padding: 0.5em;
  }


h1{
    font-family: "RockoFLF";
    letter-spacing: .2rem;
    font-size: 2rem;
    color: var(--yellow);
    margin: 0;
  }
  
  h2{
    font-size: 1.5rem;
    color: var(--yellow);
  }
  
  .tri-column ul {
    column-count: 3;
  }
  
  .reg-column ul {
    column-count: 1;
  }

  @font-face {
    font-family: "Aleo";
    src: url('/Fonts/Aleo-Regular.otf') format('opentype');
  }
  
  @font-face {
    font-family: "RockoFLF";
    src: url('/Fonts/RockoFLF-Bold.ttf') format('truetype');
  }