{{- $citations := .Page.Params.citations -}}
{{- if $citations -}}
  {{- $citationsMaxIndex := sub (len $citations) 1 -}}
  {{- $userIndex := .Get 0 -}}
  {{- $citationIndex := sub $userIndex 1 -}}
  {{- if or (lt $citationIndex 0) (gt $citationIndex $citationsMaxIndex) -}}
    {{- errorf "Invalid citation index used (%s, %d)" .Page.RelPermalink $userIndex -}}
  {{- else -}}
    {{- $citationsCount := .Page.Store.Get "citationsCount" -}}
    {{- $currentCitationCount := index $citationsCount (string $userIndex) -}}
    {{- if not $currentCitationCount -}}
      {{- $currentCitationCount = 1 -}}
    {{- else -}}
      {{- $currentCitationCount = add $currentCitationCount 1 -}}
    {{- end -}}
    {{- .Page.Store.Set "citationsCount" (merge $citationsCount (dict (string $userIndex) $currentCitationCount)) -}}
    <sup><a href="#citation-{{- $userIndex -}}" id="ref-{{- $userIndex -}}.{{- $currentCitationCount -}}">[{{- $userIndex -}}]</a></sup>
  {{- end -}}
{{- else -}}
  {{- errorf "Page has no citations but citation shortcode was called (%s)" .Page.RelPermalink -}}
{{- end -}}