<html>
<head>
  {{- partial "head.html" . -}}
</head>
<body>
  <header>
    {{- if eq .Section "theoryweb" -}}
    {{- partialCached "TheoryWebHeader.html" . -}}
    <link rel="icon" href="/favicon-theoryweb.ico">
    {{- else -}}
    {{- partialCached "header.html" . -}}
    <link rel="icon" href="/favicon-cep.ico">
    {{- end -}}
  </header>
  {{ partial "persistent-player.html" . }}
  <main id="pjax-container">
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{- partialCached "footer.html" . -}}
  </footer>
</body>
</html>