{{- define "main" -}}
{{- .Content | safeHTML -}}
<div class="tabs">
  <div class="tab-buttons">
    <button class="tab-button active" data-tab="news">News</button>
    <button class="tab-button" data-tab="changed">Recently Changed</button>
    <button class="tab-button" data-tab="photos">New Photos</button>
    <button class="tab-button" data-tab="videos">New Videos</button>
    <button class="tab-button" data-tab="graphs">Stats</button>
  </div>

  <div class="tab-content">
    <div class="tab-panel active" id="news">
      {{ partial "recent-news.html" . }}
    </div>

    <div class="tab-panel" id="changed">
      {{ partial "recently-changed.html" . }}
    </div>

     <div class="tab-panel" id="photos">
      {{ partial "Recent_Photos.html" . }}
    </div>

    <div class="tab-panel" id="videos">
      {{ partial "Recent_Videos.html" . }}
    </div>

    <div class="tab-panel" id="graphs">
      <h2>Store Openings vs Closings</h2>
      {{ partial "HomepageGraphs.html" (dict "id" "openings-1" "data" .Site.Data.graphs.openings_vs_closings "type" "auto" "height" 300 "width" 900) }}
      <h2>Store Stages Over Time</h2>
      {{ partial "HomepageGraphs.html" (dict "id" "openings-5" "data" .Site.Data.graphs.open_by_stage "type" "auto" "height" 300 "width" 900) }}
      <h2>Average Total Years Stores Operated By Opening Year (Closed Locations Only)</h2>
      {{ partial "HomepageGraphs.html" (dict "id" "openings-3" "data" .Site.Data.graphs.avg_years_open_by_opening_year "type" "auto" "height" 300 "width" 900) }}
      <h2>Average Store Sqft. Per Year</h2>
      {{ partial "HomepageGraphs.html" (dict "id" "openings-2" "data" .Site.Data.graphs.avg_sqft_by_opening_year "type" "auto" "height" 300 "width" 900) }}
      <h2>Remodels & Initiatives Count for Each Year</h2>
      {{ partial "HomepageGraphs.html" (dict "id" "openings-4" "data" .Site.Data.graphs.remodels_by_start_year "type" "auto" "height" 300 "width" 900) }}
      
    </div>

  </div>
</div>

<h2>Our Articles</h2>
{{- partial "list-tags-in-category.html" . -}}
<hr>
<h2>Introductions</h2>
{{- partial "introductions.html" . -}}
<hr>
{{- partial "Random_Page.html" . -}}

<script>
document.addEventListener("DOMContentLoaded", () => {
  const buttons = document.querySelectorAll(".tab-button");
  const panels = document.querySelectorAll(".tab-panel");

  buttons.forEach(button => {
    button.addEventListener("click", () => {
      buttons.forEach(b => b.classList.remove("active"));
      panels.forEach(p => p.classList.remove("active"));

      button.classList.add("active");
      document.getElementById(button.dataset.tab).classList.add("active");
    });
  });
});
</script>

{{- end -}}
