{{- define "main" -}}
  {{- .Page.Store.Set "citationsCount" dict -}}
  {{- $layout := "Article" -}}
  {{- with .Params.type -}}
    {{- if eq . "User" -}}
      {{- $layout = "user" -}}
    {{- else if eq . "Transcriptions" -}}
      {{- $layout = "baseTranscriptionArticle" -}}
    {{- else if eq . "Reviews" -}}
      {{- $layout = "baseReviewArticle" -}}
    {{- end -}}
  {{- end -}}
    {{- if eq .Section "theoryweb" -}}
      {{- $layout = "TheoryWebARticle" -}}
    {{- end -}}
  {{- partial $layout . -}}
{{- end -}}

