:root {
  --blue:#233355;
  --aqua: #39A481;
  --white: #dbd1b1;
  --deep-white: #62777a;
  --yellow: #e0961f;
  --orange: #D44A02;
  --deep-orange: #993b08;
  --brown: #2c2422;
}

body {
  color: var(--white);
  background-color: var(--blue);
  font-family: "Aleo";
  font-size: 1em;
  line-height: 1.5; 
  margin: 0 auto;
  max-width: 55em;
  min-width: 30em;
  border-color: var(--yellow);
  border-style: solid;
  border-width: 3em;
  border-radius: 8em;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 3em;
  padding-bottom: 3em;
  outline-color: var(--white);
  outline-width: 1.5em;
  outline-style: solid;
  box-shadow: 0 0 0 2em var(--brown), inset 0 0 0 0.5em var(--brown);
}

html{
  background-color: var(--deep-orange);
}

h1{
  font-family: "RockoFLF";
  letter-spacing: .2rem;
  font-size: 2rem;
  color: var(--yellow);
  margin: 0;
}

.tri-column ul {
  column-count: 3;
  overflow-wrap: break-word;
}

.list-page-summary {
  margin-left: 3rem;
  font-family: "Aleo";
  color: var(--white);
}
.list-page-date {
  color: var(--yellow);
  font-size: .75em;
}

.list-page-block-special {
  color: var(--yellow);
  background-color: var(--blue);
  font-family: "RockoFLF";
  font-size: 1em;
  line-height: 1.5; 
  margin: 0 auto;
  max-width: 55em;
  min-width: 30em;
  border-color: var(--yellow);
  border-style: solid;
  border-width: .5em;
  border-radius: 5em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: .5em;
  padding-bottom: 1.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  outline-color: var(--orange);
  outline-width: .5em;
  outline-style: solid;
  box-shadow: 0 0 0 .75em var(--brown), inset 0 0 0 0.25em var(--white);
}

.list-page-block {
  position: relative;
  color: var(--yellow);
  background-color: var(--blue);
  font-family: "RockoFLF";
  font-size: 1em;
  line-height: 1.5; 
  margin: 0 auto;
  max-width: 55em;
  min-width: 30em;
  border-color: var(--brown);
  border-style: solid;
  border-width: .5em;
  border-radius: 5em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: .5em;
  padding-bottom: 1.5em;
  margin-top: .75em;
  margin-bottom: .75em;
  box-shadow: inset 0 0 0 0.5em var(--orange);

}

.contributors{
  color: var(--yellow); 
}

.button{
  font-family: "RockoFLF";
  letter-spacing: .1rem;
  color: var(--yellow);
  background-color: var(--orange);
  font-size: 1em;
  max-width: 40vw;
  border-color: var(--brown);
  border-style: solid;
  border-width: .5em;
  border-radius: 8em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  outline-color: var(--white);
  outline-width: 0.25em;
  outline-style: solid;
  box-shadow: inset 0 0 0 0.25em var(--yellow);
  float: right;
  line-height: normal;
}

.gallery-image-box{
  max-height: 11em;
  max-width: 11em;
  min-height: 11em;
  min-width: 11em;
  margin: .25em;
  background-color: var(--brown);
  border-color: var(--white);
  border-style: solid;
  border-width: .25em;
  border-radius: .25em;
  display: block;
  align-content: center;
}

.gallery-image{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.gallery-image img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article-store-thumbnail{
  max-height: 35em;
  border-radius: 1em;
  width: auto;
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: -4.5em;
  margin-right: -4.5em;
}

.article-store-thumbnail img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.article-photo-thumbnail{
  border-radius: 1em;
  width: auto;
  height: auto;
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: -4.5em;
  margin-right: -4.5em;
}

.article-photo-thumbnail img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.button a{
  color: var(--white);
}

.contributors sup{
  color: var(--white); 
}

.fun-text{
  text-align: center;
  margin: 0;
  font-size: 1.25em;
  font-family: "RockoFLF";
  letter-spacing: .1rem;
  color: var(--white);
}
.fun-text strong{
  color: var(--yellow);
  display: inline-block;
  animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
  0%,100% {
    transform: translateY(-.15em);
  }
  50% {
    transform: translateY(.15em);
  }
}

footer {
  margin-top: 3em;
  color: var(--deep-white);
}

hr
{
  border: .2em solid var(--brown);
  border-radius: 5em;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: transparent;
}

a {
  color: var(--aqua);
  text-decoration: none;
}

img.emoji {
  width: 1.75em;
  height: 1.75em;
  vertical-align:middle;
  transition-duration: 100ms;
  transform: scale(1);
  z-index: 1;
  position: relative;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

img.emoji:hover {
  transform: scale(2.25);
  z-index:10000;
}


@keyframes getbig {
  0% {
  transform: scale(1);
  }
100% {
  transform: scale(100); 
}
}

@keyframes swing {
  0% { transform: rotate(-30deg); }
  50% { transform: rotate(30deg); }
  100% { transform: rotate(-30deg); }
}

@font-face {
  font-family: "Aleo";
  src: url('/Fonts/Aleo-Regular.otf') format('opentype');
}

@font-face {
  font-family: "RockoFLF";
  src: url('/Fonts/RockoFLF-Bold.ttf') format('truetype');
}