:root {
  --blue:#233355;
  --aqua: #39A481;
  --white: #dbd1b1;
  --deep-white: #62777a;
  --yellow: #e0961f;
  --orange: #D44A02;
  --deep-orange: #993b08;
  --brown: #2c2422;
}

[name=":0"],
[name=":1"],
[name=":2"],
[name=":3"],
[name=":4"],
[name=":5"],
[name=":6"],
[name=":7"],
[name=":8"],
[name=":9"],
[name=":10"],
[name=":11"],
[name=":12"],
[name=":13"],
[name=":14"],
[name=":15"],
[name=":16"],
[name=":17"],
[name=":18"],
[name=":19"],
[name=":20"] {
    display: none;
}

.transcription-content b {
  color: var(--yellow);
}


body {
  color: var(--white);
  background-color: var(--blue);
  font-family: "Aleo";
  font-size: 1em;
  line-height: 1.5; 
  margin: 0 auto;
  max-width: 65em;
  min-width: 30em;
  border-color: var(--yellow);
  border-style: solid;
  border-width: 3em;
  border-radius: 8em;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 3em;
  padding-bottom: 3em;
  outline-color: var(--white);
  outline-width: 1.5em;
  outline-style: solid;
  box-shadow: 0 0 0 2em var(--brown), inset 0 0 0 0.5em var(--brown);
  text-wrap: pretty;
  word-wrap: anywhere;
}

html{
  background-color: var(--deep-orange);
}

h1{
  font-family: "RockoFLF";
  letter-spacing: .2rem;
  font-size: 2rem;
  color: var(--yellow);
  margin: 0;
}

h2{
  font-size: 1.5rem;
  color: var(--yellow);
}

.tri-column ul {
  column-count: 3;
}

.reg-column ul {
  column-count: 1;
}

.list-page-block:hover, .list-page-empty-block:hover,  .pagefind-ui__result:hover{
  box-shadow: 0 0 0 0.25em var(--aqua);
}
.pagefind-ui__result-thumb{
  min-width: 9em;
}

.list-page-block, .list-page-empty-block, .list-page-block-video, .pagefind-ui__result{
  display: flex;
  flex-direction: row;
  position: relative;
  align-content: space-between;
  color: var(--yellow);
  background-color: var(--blue);
  font-family: "RockoFLF";
  font-size: .9em;
  line-height: 1.5;
  max-width: 100%;
  max-height: 5em;
  min-height: 5em;
  border-color: var(--brown);
  border-style: solid;
  border-width: .25em;
  border-radius: 5em;
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: hidden;
}

.emoji{
  display: inline-block;
  width: 1em;
  height: 1em; 
  vertical-align: middle;
}

.list-page-block, .list-page-block-video, .pagefind-ui__result{
  box-shadow: 0 0 0 0.25em var(--orange);
}

.list-page-empty-block{
  box-shadow: 0 0 0 0.25em var(--deep-white);
}

.list-review-block {
  display: flex;
  flex-direction: row;
  position: relative;
  align-content: space-between;
  color: var(--yellow);
  background-color: var(--blue);
  font-family: "RockoFLF";
  font-size: 1em;
  line-height: 1.5;
  max-width: 65em;
  min-width: 30em;
  min-height: 5.5em;
  border-color: var(--brown);
  border-style: solid;
  border-width: .25em;
  border-radius: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 0 0.25em var(--orange);
  overflow: hidden;
  padding: 1.5em;
}

.list-review-body{
  color: var(--white);
  font-family: "Aleo";
  font-size: 0.75em;
  line-height: 1.5; 
  text-wrap: pretty;
  word-wrap: anywhere;
}

.list-page-block-video{
  width: 100%;
  max-height: 12em;
  min-height: 12em;
  border-radius: 3em;
}


.list-image img, .pagefind-ui__result-thumb img{
  border-radius: 1em;
  max-width: 8em;
  min-width: 8em;
  overflow: hidden;
  margin-right: 1em;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.list-video iframe{
  border-radius: 1em;
  max-width: 20em;
  min-width: 20em;
  overflow: hidden;
  margin-right: 1em;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pagefind-ui__search-clear{
  display: none;
}

.pagefind-ui__search-input{
  background-color: var(--blue);
  border-color: var(--brown);
  color: var(--white);
  border-width: 0.25em;
  border-radius: 1em;
  padding: 0.75em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
}

.pagefind-ui__result-excerpt{
  font-family: "Aleo";
  font-size: 1em;
  line-height: 1.5; 
  color: var(--white);
}

.list-page-container, .list-review-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.list-page-content, .list-review-content, .list-page-video-content, .pagefind-ui__result-title{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  align-self: center;
  margin-right: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  line-height: 1.25em;
}

.list-page-video-content{
  font-family: "Aleo";
  line-height: 1.5; 
}

.edit-button-container {
  align-self: center;
  min-width: 10em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.list-page-date{
  color: var(--yellow);
  font-size: .75em;
  font-family: "RockoFLF";
}

.list-review-date {
  color: var(--deep-white);
  font-size: .75em;
  font-family: "RockoFLF";
}

.contributors{
  color: var(--yellow); 
  word-wrap: break-word;
}

.citations{
  color: var(--white); 
}

.button:hover, .blank-button:hover{
background-color: var(--aqua);
}

.button, .blank-button{
  font-family: "RockoFLF";
  letter-spacing: .1rem;
  color: var(--white);
  font-size: 1em;
  max-width: 40vw;
  border-color: var(--brown);
  border-style: solid;
  border-width: .25em;
  border-radius: 8em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  outline-color: var(--white);
  outline-width: 0.25em;
  outline-style: solid;
  float: right;
  line-height: normal;
}

.blank-button{
  background-color: var(--deep-white);
  box-shadow: inset 0 0 0 0.25em var(--deep-white);
}

.button{
  background-color: var(--orange);
  box-shadow: inset 0 0 0 0.25em var(--yellow);
}

.gallery-image-box{
  max-width: 12.5em;
  min-width: 12.5em;
  margin: .5em;
  display: block;
  align-content: flex-start;
  align-self: stretch;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
}

.article-photo-image{
  max-width: 12.5em;
  max-height: 12.5em;
  min-width: 12.5em;
  min-height: 12.5em;
  display: block;
  overflow: hidden;
  border-width: 0.25em;
  border-color: var(--white);
  border-style: solid;
  border-radius: 0.5em;
  align-content: center;
  background-color: var(--brown);
}

.article-photo-image img{
  width: 12.5em;
  height: 12.5em;
  object-fit: contain;
  border-radius: 0.5em;
}

.article-section {
  width: 100%;
  display: inline-block;
}

.article-store-thumbnail{
  max-height: 35em;
  border-radius: 1em;
  width: auto;
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: -4.5em;
  margin-right: -4.5em;
}

.article-store-thumbnail img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom: 1em;
  border-color: var(--brown);
  border-style: solid;
}

.button-dropdown:hover{
  background-color: var(--aqua);
}

.button-dropdown{
  background-color: var(--orange);
  color: var(--white);
  border-radius: 0;
  border:solid;
  border-color: var(--yellow);
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0.5em;
  border-right-width: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0;
  padding-right: 0;
  font-size: 1em;
  letter-spacing: .1rem;
  font-family: "RockoFLF";
  flex:1;
  margin-left: 0.25em;
  margin-right:0.25em;
  margin-top:0;
  margin-bottom:0;
  outline-style: none;
  cursor: pointer;
  text-align: center;
  box-shadow: none;
}

.dropdown-area{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.article-photo-thumbnail{
  border-radius: 1em;
  width: auto;
  height: auto;
  overflow: hidden;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: -4.5em;
  margin-right: -4.5em;
}

.article-photo-thumbnail img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.article-thumbnail img{
  height: auto;
  max-width: 20em;
  min-width: 20em;
  border-width: .25em;
  border-radius: .5em;
  border-color: var(--white);
  border-style: solid;
}

.article-button:hover{
  background-color: var(--yellow);
}

.article-button,.article-editpage-button{
  background-color: var(--orange);
  color: var(--white);
  border:solid;
  border-color: var(--yellow);
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0.5em;
  border-right-width: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1em;
  letter-spacing: .1rem;
  font-family: "RockoFLF";
  flex:1;
  margin-left: 0.25em;
  margin-right:0.25em;
  cursor: pointer;
}


.article-topbar{
  margin-bottom: 1.5em;
  margin-top: 1em;
  margin-left: -5em;
  margin-right: -5em;
  color: var(--brown);
  background-color: var(--white);
  border: solid;
  border-top-width: 0.5em;
  border-bottom-width: 0.5em;
  border-left-width: 0.5em;
  border-right-width: 0.5em;
  border-color: var(--brown);
  color: var(--brown);
  width:auto;
  flex: auto;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.article-infobox{
  float: right;
  margin-bottom: 1em;
  margin-left: 1em;
  color: var(--brown);
  background-color: var(--yellow);
  border: solid;
  border-radius: 1em;
  border-width: 0.5em;
  border-top-width: 0em;
  border-right-width: 0em;
  border-bottom-right-radius: 0em;
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
  border-color: var(--brown);
  padding: 1em;
  max-width: 20.5em;
  min-width: 20.5em;
  margin-top: -1.5em;
  margin-right: -4.5em;
}

.article-infobox-linkbox{
  background-color: var(--brown);
  padding: 0.5em;
  border-radius: 1em;
  color:var(--white);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.article-infobox-linkbox ul{
  margin:0;
}

.article-photo-description {
  margin: 0.5em;
  text-align: center;
}

.contributors sup{
  color: var(--white); 
}

sup{
  color: var(--yellow); 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em;
  text-align: left;
}

/* Table borders */
table, th, td {
  border: .25em solid var(--brown);
  min-width: 5em;
}

/* Table headers */
th {
  background-color: var(--orange);
  color: var(--white);
  padding: 0.5em;
}

/* Table cells */
td {
  padding: 0.5em;
}

/* Caption styling */
caption {
  font-weight: bold;
  margin-bottom: 1em;
}

.fun-text{
  text-align: center;
  margin: 0;
  font-size: 1.25em;
  font-family: "RockoFLF";
  letter-spacing: .1rem;
  color: var(--white);
}
.fun-text strong{
  color: var(--yellow);
  display: inline-block;
  animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
  0%,100% {
    transform: translateY(-.15em);
  }
  50% {
    transform: translateY(.15em);
  }
}

.article-video iframe{
  width: 100%;
  aspect-ratio: 16/9;
  margin-top:1em;
  margin-bottom:1em;
  border-radius: 1em;
}

footer {
  margin-top: 3em;
  color: var(--deep-white);
}

code{
  background-color: var(--brown);
  border-color: var(--brown);
  border-radius: 1em;
  padding:0.5em;
}

select:hover
{
  background-color: var(--yellow);
}

select
{
  margin: 0.5em;
  font-family: "RockoFLF";
  letter-spacing: .1rem;
  color: var(--white);
  background-color: var(--orange);
  font-size: 1em;
  border-color: var(--brown);
  border-style: solid;
  border-width: .25em;
  border-radius: 8em;
  padding-left: 1em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  outline-color: var(--white);
  outline-width: 0.25em;
  outline-style: solid;
  box-shadow: inset 0 0 0 0.25em var(--yellow);
  line-height: normal;
  flex-shrink: 1;
  appearance: none;
  background-image: url(/UI/Emojis/wrench.svg);
  background-repeat: no-repeat;
  background-position-x: calc(100% - .75em);
  background-size: 1em;
  background-position-y: center;
}
hr
{
  border: .2em solid var(--brown);
  border-radius: 5em;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: transparent;
}

a {
  color: var(--aqua);
  text-decoration: none;
}

.splash-text {
  position: absolute;
  color: var(--white);
  text-align: center;
  top: 1.5em;
  left: 50%;
  transform: translate(-50%, -60%); /* Center and move Y negatively */
  font-family: "RockoFLF";
  letter-spacing: .1rem;
}

img.emoji {
  width: 1em;
  height: 1em;
  vertical-align:middle;
  transition-duration: 100ms;
  transform: scale(1);
  z-index: 1;
  position: relative;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

img.emoji:hover {
  transform: scale(2.25);
  z-index:10000;
}

.snow_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; 
  z-index: -1;
  overflow: hidden;
}
.snow,.snow:after,.snow::before {
  content: '';
  position: absolute;
  top: -650px;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: radial-gradient(4px 4px at 100px 50px,#fff,transparent),
                    radial-gradient(6px 6px at 200px 150px, #fff,transparent),
                    radial-gradient(3px 3px at 300px 250px,#fff,transparent),
                    radial-gradient(4px 4px at 400px 350px,#fff,transparent),
                    radial-gradient(6px 6px at 500px 100px,#fff,transparent),
                    radial-gradient(3px 3px at 50px 200px,#fff,transparent),
                    radial-gradient(4px 4px at 150px 300px,#fff,transparent),
                    radial-gradient(6px 6px at 250px 400px,#fff,transparent),
                    radial-gradient(3px 3px at 350px 500px,#fff,transparent),
                    radial-gradient(4px 4px at 550px 550px,#fff,transparent);
  background-size: 650px 650px;
  animation: SnowAnim 3s linear infinite;
}
.snow:after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-direction: reverse;
  animation-duration: 6s;
}
.snow::before {
  margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-direction: reverse;
  animation-duration: 9s;
}
@keyframes SnowAnim {
  from {
      transform: translateY(0);
  }
  to {
      transform: translateY(650px);
  }
}


@keyframes getbig {
  0% {
  transform: scale(1);
  }
100% {
  transform: scale(100); 
}
}

@keyframes swing {
  0% { transform: rotate(-30deg); }
  50% { transform: rotate(30deg); }
  100% { transform: rotate(-30deg); }
}

@font-face {
  font-family: "Aleo";
  src: url('/Fonts/Aleo-Regular.otf') format('opentype');
}

@font-face {
  font-family: "RockoFLF";
  src: url('/Fonts/RockoFLF-Bold.ttf') format('truetype');
}