:root {
  --blue:#233355;
  --aqua: #39A481;
  --white: #dbd1b1;
  --yellow: #e0961f;
  --orange: #D44A02;
  --deep-orange: #993b08;
  --brown: #2c2422;
}

body {
  color: var(--white);
  background-color: var(--blue);
  font-family: "Aleo";
  font-size: 1em;
  line-height: 1.5; 
  margin: 1rem;
  margin: auto;
  max-width: 40vw;
  border-color: var(--yellow);
  border-style: solid;
  border-width: 3em;
  border-radius: 8em;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 2em;
  padding-bottom: 3em;
  outline-color: var(--white);
  outline-width: 1.5em;
  outline-style: solid;
  box-shadow: 0 0 0 2em var(--brown), inset 0 0 0 0.5em var(--brown);
  
}

html{
  background-color: var(--deep-orange);
}

h1{
  font-family: "RockoFLF";
  letter-spacing: .2rem;
  font-size: 3rem;
  color: var(--yellow);
}

.list-page-summary {
  margin-left: 3rem;
}

.list-page-block {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #3d3d3d;
}


header {
  border-bottom: 1px solid #3d3d3d;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #3d3d3d;
  margin-top: 1rem;
}

a {
  color: var(--aqua);
  text-decoration: none;
}

img.emoji {
  width: 1.75em;
  height: 1.75em;
  vertical-align:middle;
  transition-duration: 100ms;
  transform: scale(1);
  z-index: 1;
  position: relative;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

img.emoji:hover {
  transform: scale(2.25);
  z-index:10000;
}


@keyframes getbig {
  0% {
  transform: scale(1);
  }
100% {
  transform: scale(100); 
}
}

@keyframes swing {
  0% { transform: rotate(-30deg); }
  50% { transform: rotate(30deg); }
  100% { transform: rotate(-30deg); }
}

@font-face {
  font-family: "Aleo";
  src: url('/Fonts/Aleo-Regular.otf') format('opentype');
}

@font-face {
  font-family: "RockoFLF";
  src: url('/Fonts/RockoFLF-Bold.ttf') format('truetype');
}