

:root {
    --white: #c6c6c6;
    --light-gray: #5f5f5fff;
    --gray: #393939ff;
    --deep-gray: #101010ff;
    --black: #000;
    --green: #acce18ff;
    --yellow: #c19906;
    --purple: #6e1d72;
    --red: #cd0000ff;
    --font-body: "Aleo";
    --font-display: "Stalker";
}

@font-face {
    font-family: "Aleo";
    src: url('/viewers/theoryweb/assets/Fonts/Aleo-Regular.otf') format('opentype');
}

@font-face {
    font-family: "Stalker";
    src: url('/viewers/theoryweb/assets/Fonts/stalker1.ttf') format('truetype');
}

html{
    background-color: var(--black);
}

body {
    color: var(--white);
    background-color: var(--deep-gray);
    font-family: var(--font-body);
    font-size: 1rem;
    line-height: 1.5;
    margin: 0 auto;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 65rem;
    min-width: 30rem;
    text-wrap: pretty;
    word-wrap: anywhere;
    border-width: 0.5rem;
    border-style: solid;
    border-color: var(--white);
}

a {
    color: var(--yellow);
    text-decoration: none;
}

.Logo img{
    max-width:100%;
    margin-left: auto;
    margin-right:auto;
    display:block;
    margin-top: -1.5rem;
    margin-bottom: -2rem;
}

.FlavorText{
    font-family: var(--font-display);
    color:var(--white);
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: .1rem;
}

.FlavorText sup{
    color:var(--light-gray);
}


.HorizontalButtonHolder{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    margin-top:1rem;
}

.Button {
    background-color: var(--deep-gray);
    color:var(--green);
    font-family: var(--font-display);
    font-size: 2rem;
    border-width: 0.25rem;
    border-style: solid;
    border-color: var(--gray);
    letter-spacing: .1rem;
    transition: transform 0.15s ease;
}

.Button:hover{
    background-color: var(--gray);
    border-color: var(--green);
    color:var(--white);
    transform: translateY(-0.25rem);
}